#dibs *{box-sizing: border-box;}

/*div{border: 1px solid black;}*/

#dibs a{
    text-decoration: none;
    color: black;
}

#dibs .container>div{ width: 95%;margin: auto;}

#dibs .container{
    width: 360px;
    margin: auto;
    min-height: 900px;
}

#dibs #pageTitle{
    height: 40px;
    text-align: center;
    font-size: 24px;
    line-height: 45px;
    margin-bottom: 10px;
}

#dibs #dibCountSec{
    font-size: small;
    /*margin-bottom: 20px;*/
    position: relative;
    top: 10px;
}

#dibs .dibBox{
    border-radius: 20px;
    width: 350px;
    min-height: 150px;
    padding: 6px 13px 6px 13px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    font-size: 13px;
    box-shadow: 0 5px 18px -7px rgba(0,0,0,0.1);
    position: relative;
    left: -6.4px;
}

#dibs .divBox2{
    font-weight: bold;
    text-align: center;
    line-height: 130px;
}

#dibs .imgBox{
    float: left;
    width: 25%;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    top: 28px;
    left: 5px;
}

#dibs .storeLogo{
    width: 100%;
    height: 75px;
}

#dibs .info{
    width: 65%;
    float: left;
    position:relative;
    top: 19px;
    left: 23px;
}

#dibs .store_name{
    font-weight: bolder;
    font-size: larger;
    width:145px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
#dibs .avg_star,.store_min, .store_deli_tip,.store_deli_time{
    font-size: small;
    color: gray;
    height: 18px;
}

#dibs .fontColor{
    color:black;
}

#dibs .fa-star{
color: transparent;
text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}

#dibs #btnBox{
    display: inline-block;
    width:10%;
    height: 50px;
}
#dibs .heart{
    border: 0;
    background-color: unset;
    position: relative;
    right:15px;
    top: 27px;
    /*transform: translate(-50%,0%);*/
}
#dibs .heartIcon{
    text-shadow: 0 0 0 rgba(232,76,79);
    color: transparent;
}
#dibs .heartIcon:hover{
    cursor: pointer;
}
