#dibs *{box-sizing: border-box;}

#dibs div{border: 1px solid black;}

#dibs .container>div{ width: 95%;margin: auto;}

#dibs .container{
    width: 360px;
    border: 1px solid black;
    margin: auto;
}

#dibs #pageTitle{
    height: 50px;
    text-align: center;
    font-size: large;
    line-height: 50px;
    margin-bottom: 10px;
}

#dibs #dibCountSec{
    font-size: small;
}

#dibs .dibBox{
    margin-bottom: 10px;
    height: 100%;
}
.dibBox>div{
    height: inherit;
}

#dibs .imgBox{
    height: 100%;
    background-color: #e84c4f;
    float: left;
    /*height: inherit;*/
    width: 25%;
}

#dibs .storeLogo{
    width: 100%;
    /*height: 80px;*/
    border-radius: 5px;
    border: 5px solid blue;
}

.info{
    width: 70%;
    float: right;



    float: left
}

#dibs .heart{
    border: 0;
    background-color: unset;
}
label{
    text-shadow: 0 0 0 #f0f0f0;
    color: transparent;
}
label:hover{
    cursor: pointer;
    text-shadow: 0 0 0 rgba(232,76,79);
}

#btnSec{
    display: inline-block;
    width: 5%;
}