#memberReviewList * {
    box-sizing: border-box;
}
#memberReviewList .container{
    border: 1px solid red;
    height: fit-content;
}

#memberReviewList #page_title{
    height: 40px;
    text-align: center;
    font-size: 24px;
}

#memberReviewList .member_review{
    margin-top: 20px;
    margin-bottom: 20px;
}

#memberReviewList #modify_review{
    width: 11%;
    height: 25px;
    border-radius: 7px;
    border: none;
    background-color: #e84c4f;
    color: white;
    font-size: 0.8em;
    cursor: pointer;
    margin: 10px;
}

#memberReviewList #psb_modify_review{
    width: 11%;
    height: 25px;
    border-radius: 7px;
    border: none;
    background-color: #e84c4f;
    color: white;
    font-size: 0.8em;
    cursor: pointer;
    margin: 10px;
}

#memberReviewList .delete_review{
    width: 11%;
    height: 25px;
    text-align: center;
    border-radius: 7px;
    border: none;
    background-color: #e84c4f;
    color: white;
    font-size: 0.8em;
    cursor: pointer;
    margin: 5px;
}

#memberReviewList .menu_name{
    width: 26%;
    height: 20px;
    border-radius: 15px;
    border: none;
    background-color: gainsboro;
    font-size: 1em;
}

#memberReviewList .option_name{
    width: 26%;
    height: 20px;
    border-radius: 15px;
    border: none;
    background-color: gainsboro;
    font-size: 1em;
}
#memberReviewList #write_time{
    float: left;
}

#review_star {
    width: 130px;
    display: flex;
    flex-direction: row-reverse;
    font-size: 1.3em;
    line-height: 10px;
    justify-content: space-around;
    text-align: center;
    float: left;
}

#review_star input {
    display: none;
}

#review_star label {
    -webkit-text-fill-color: #ddd;
}

#review_star :checked ~ label {
    -webkit-text-fill-color: rgba(250, 208, 0, 0.99);
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}

#memberReviewList #img_box{
    width: 100%;
    height: 50%;
}





