#reviewWrite * {box-sizing: border-box;}

@font-face{
 font-family: 'Pretendard-Regular';
 src: url('/resources/font/Pretendard-Regular.woff') format('woff'); /* 모든 브라우저*/
 font-weight: 400;
 font-style: normal;
}

#reviewWrite .container{
 width: 360px;
 margin: auto;
 min-height: 900px;
}

#reviewWrite .container>form>div{
 width: 95%;
 margin: auto;
}

#reviewWrite #pageTitle{
 height: 40px;
 text-align: center;
 font-size: 24px;
 line-height: 45px;
}

#reviewWrite #storeName{
 height: 50px;
 text-align: center;
 font-size: medium;
 font-weight: bold;
 line-height: 50px;
}

#reviewWrite #starFiled{
 display: inline-block;
 direction: rtl;
 border:0;
 position: relative;
 left: 50%;
 transform: translate(-50%,0);
 margin-bottom: 20px;
}

#reviewWrite input[type=radio]{
 display: none;
}

#reviewWrite .starCustom{
 font-size: 2em;
 color: transparent;
 text-shadow: 0 0 0 rgba(217, 216, 214, 0.99);
}

#reviewWrite .starCustom:hover{
 text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}

#reviewWrite .starCustom:hover ~ .starCustom{
 text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}

#reviewWrite input[type=radio]:checked ~ .starCustom{
 text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}

#reviewWrite #revContent{
 width: 100%;
 height: 80px;
}

#reviewWrite #count{
 text-align: right;
 margin-bottom: 10px;
 font-size: small;
}

#reviewWrite .imgBox {
 /*border: 1px solid black;*/
/*width:100px;*/
/* height: 100px;*/
}

#reviewWrite #btnCustom{
 width: 100%;
 height: 30px;
 position: relative;
 left: 50%;
 transform: translateX(-50%);
 border-radius: 7px;
 border: 1px solid #e84c4f;
 color: #e84c4f;
 font-size: 1.1em;
 cursor: pointer;
 text-align: center;
 line-height: 27px;
 background: #ffffff;
 font-family:'Pretendard-Regular'
}

#reviewWrite .fa-camera{
 line-height: 25px;
}

#reviewWrite #revImgBtn{
 position: absolute;
 width: 0;
 height: 0;
 padding: 0;
 overflow: hidden;
 border: 0;
}

#reviewWrite #imgSec{
 margin-top: 15px;
}


#reviewWrite .delBtn{
 padding: 0px;
 width: 15px;
 height: 15px;
 position: relative;
 bottom: 59px;
 right:21px;
 line-height: 10px;
 border-radius: 50%;
 border: none;
 background: unset;
}

#reviewWrite .review_img_div{
 position: relative;
 left: 15px;
 width:fit-content;
}

#reviewWrite .preimg_img{
 margin-bottom: 10px;
 border-radius: 5px;
}

#reviewWrite .imgMsg{
 font-size: small;
 color: #888888;
}

#reviewWrite .fa-circle-xmark{
 color: rgba(200, 200, 200, 0.8);
 text-shadow: rgba(255, 255, 255, 0.25);
}

#reviewWrite .menuBox{
 font-weight: bold;
 text-align: center;
 margin: 10px 0px;
}

#reviewWrite .menuList{
 font-size: small;
 margin: 20px 0px;
}

#reviewWrite hr{
 margin-top: 10px;
 border-width: 0.25px;
}

#reviewWrite #btnBox{
 width: 95%;
 height: 35px;
 float: left;
 position: relative;
 left: 50%;
 transform: translateX(-50%);
 /*top: 100%;*/
}
#reviewWrite #writeBtn{
 width: 100%;
 height: 100%;
 border-radius: 7px;
 border: none;
 background-color: #e84c4f;
 color: white;
 font-size: 1.1em;
 cursor: pointer;
}
