#memberReviewList * {
    box-sizing: border-box;
}
#memberReviewList .container{
    width: 360px;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 135px;
    overflow: hidden;
}

#memberReviewList img{
    width: 100px;
    height: 150px;
}

#memberReviewList #page_title{
    height: 40px;
    text-align: center;
    font-size: 24px;
}

#memberReviewList .member_review{
    margin-top: 20px;
    margin-bottom: 20px;
}

#memberReviewList #modify_review{
    width: 11%;
    height: 25px;
    border-radius: 7px;
    border: none;
    background-color: #e84c4f;
    color: white;
    font-size: 0.8em;
    cursor: pointer;
    margin: 10px;
}

#memberReviewList #psb_modify_review{
    width: 100%;
    height: 25px;
    border-radius: 7px;
    border: none;
    background-color: #e84c4f;
    color: white;
    font-size: 0.8em;
    cursor: pointer;
    margin: 10px;
    margin-top: -1px;
}

#memberReviewList .delete_review{
    width: 100%;
    height: 25px;
    text-align: center;
    border-radius: 7px;
    border: none;
    background-color: #e84c4f;
    color: white;
    font-size: 0.8em;
    cursor: pointer;
    margin: 5px;
}
#menu_name_wrap{
    width: fit-content;
    margin-bottom: 20px;
}
#memberReviewList .menu_name{
    width: fit-content;
    border-radius: 15px;
    border: none;
    background-color: gainsboro;
    font-size: 1em;
    padding-left: 5px;
    margin-bottom: 5px;
    padding: 0px 7px;
}

#memberReviewList #write_time{
    float: left;
}

#review_star_wrap{
    width: 130px;
    float: left;
    display: flex;
    font-size: 1.3em;
    line-height: 10px;
    text-align: center;
    justify-content: space-around;
}

#modify_review_wrap{
    width: 11%;
    float: left;
    margin-left: 30px;
}

#delete_review_wrap{
    width: 11%;
    float: left;
    margin-left: 10px;
    margin-top: -6px;
}
#review_content{
    width: fit-content;
    margin-top: 10px;
    margin-bottom: 5px;

}




