#memberInfo *{box-sizing: border-box;}
#memberInfo .container{
    width: 360px;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 150px;
    overflow: hidden;
}

#memberInfo .titleBox{
    width: 100%;
    height: 75px;
    text-align: center;
    font-size: 24px;
    line-height: 75px;
}
#memberInfo .nameBox{
    width: 100%;
    height: 50px;
    text-align: center;
    border-bottom: 1px solid gray;
}
#memberInfo .nameBox > input{
    width: 250px;
    height: 40px;
    font-size: 1.1em;
    border-radius: 5px;
    border: 1px solid #cacaca;
    padding-left: 25px;
    padding-right: 25px;
}
#memberInfo .nameBox > #nameRemoveLabel{
    position: relative;
    right: 30px;
    cursor: pointer;
}
#memberInfo .nameBox > #nameRemoveLabel:hover{
    scale: 1.2;
}

#memberInfo .infoBox{
    margin-top: 25px;
    float: left;
}
#memberInfo .infoTitleBox{
    margin-left: 15px;
    width: 80px;
    height: 30px;
    float: left;
}
#memberInfo .infoInputBox{
    width: 220px;
    height: 30px;
    margin-left: 10px;
    float: left;
}

#memberInfo .infoInputBox > .emailIconBox{
    float: left;
    margin-top: 7px;
}
#memberInfo .infoInputBox > .emailSpanBox{
    float: left;
    margin-top: 4px;
    margin-left: 5px;
    margin-bottom: 50px;
}

#memberInfo .pwSpan{
    font-size: 12px;
}
#memberInfo #pwCheckSpan{
    font-size: 12px;
}



#memberInfo .buttonBox{
    width: 350px;
    height: 35px;
    float: left;
    margin-top: 50px;
}
#memberInfo #saveButton{
    width: 335px;
    height: 35px;
    border-radius: 7px;
    border: none;
    background-color: #e84c4f;
    color: white;
    font-size: 1.1em;
    cursor: pointer;
    margin-top: 35px;
}


#memberInfo a{
    text-decoration: none;
    color: black;
}
#memberInfo a:active{
    color: unset;
}
#memberInfo a:visited{
    color: unset;
}
#memberInfo #mem_phone{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 14px;
    padding-left: 20px;
}
#memberInfo #phone_confirm_input{
    padding-left: 20px;
}
#memberInfo #phone_msg{
    font-size: 12px;
}
#memberInfo #count{
    font-size: 12px;
}
#memberInfo #phone_count{
    font-size: 12px;
    color: #e84c4f;
}
#memberInfo .form-control{
    height: 30px;
}
#memberInfo .deli_btn{
    height: 30px;
    font-size: 12px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}