#modify_review * {
    box-sizing: border-box;
}

/*#reviewWrite div{border: 1px solid black;}*/

#modify_review .container {
    width: 360px;
    margin: auto;
}

#modify_review .container > form > div {
    width: 95%;
    margin: auto;
}

#modify_review #pageTitle {
    height: 40px;
    text-align: center;
    font-size: 24px;
    /*margin-top: 95px;*/
}

#modify_review #storeName {
    height: 50px;
    text-align: center;
    font-size: medium;
    font-weight: bold;
    line-height: 50px;
}

#modify_review #starFiled {
    display: inline-block;
    direction: rtl;
    border: 0;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 20px;
}

#modify_review input[type=radio] {
    display: none;
}

#modify_review .starCustom {
    font-size: 2em;
    color: transparent;
    text-shadow: 0 0 0 rgba(217, 216, 214, 0.99);
}

#modify_review .starCustom:hover {
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}

#modify_review .starCustom:hover ~ .starCustom {
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}

#modify_review input[type=radio]:checked ~ .starCustom {
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}

#modify_review #revContent {
    width: 100%;
    height: 80px;
}

#modify_review #count {
    text-align: right;
}


#modify_review #btnCustom {
    width: 100%;
    height: 30px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 7px;
    border: 1px solid #e84c4f;
    /*background-color:  #e84c4f;*/
    color: #e84c4f;
    font-size: 1.1em;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
}

#modify_review #revImgBtn {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

#modify_review .imgName {
    margin-top: 15px;
    width: 74px;
    height: 74px;
    border: 1px black solid;
    display: inline-block;
    margin-right: 1px;
    position: relative;
    left: 4px;
}

#modify_review .menuBox {
    font-weight: bold;
    text-align: center;
    margin: 10px 0px;
}

#modify_review .menuList {
    font-size: small;
    margin: 20px 0px;
}

#modify_review hr {
    margin-top: 30px;
    border-width: 0.25px;
}

#modify_review #btnBox {
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

#modify_review #reviewPost{
    margin: 0;
}

#modify_review #modifyBtn, #modify_review #backBtn {
    width: 40%;
    height: 35px;
    border-radius: 7px;
    border: none;
    background-color: #e84c4f;
    color: white;
    font-size: 1.1em;
    cursor: pointer;
    margin: 10px;
}

#modify_review #backBtn{
    color: lightgrey;
}


.star-rating {
    width: 300px;
    display: flex;
    flex-direction: row-reverse;
    font-size: 2em;
    line-height: 50px;
    justify-content: space-around;
    text-align: center;
    /*text-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);*/
    /*-webkit-text-stroke-width: 1px;*/
    /*-webkit-text-stroke-color: rgb(209, 213, 219);*/
}

.star-rating input {
    display: none;
}

.star-rating label {
    -webkit-text-fill-color: #ddd;
    /*text-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);*/
    /*-webkit-text-stroke-width: 1px;*/
    /*-webkit-text-stroke-color: rgb(209, 213, 219);*/
    /* Will override color (regardless of order) */
    cursor: pointer;
}

.star-rating :checked ~ label {
    -webkit-text-fill-color: rgba(250, 208, 0, 0.99);
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
    /*-webkit-text-stroke-width: 1px;*/
    /*-webkit-text-stroke-color: rgb(236, 0, 0);*/
}

#modify_review .star-rating label:hover,
#modify_review .star-rating label:hover ~ label {
    -webkit-text-fill-color: rgba(250, 208, 0, 0.99);
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}

#modify_review #revContent {
    margin-top: 20px;
}

#star_5{
    position: relative;
    left: -40px;
}

#star_4{
    position: relative;
    left: -20px;
}

#star_3{
    position: relative;
}

#star_2{
    position: relative;
    left: 20px;
}

#star_1{
    position: relative;
    left: 40px;
}

#rev_imgs_area{
    margin-top: 10px;
}
