#myPage *{box-sizing: border-box;}
#myPage .container{
    width: 360px;
    margin: auto;
    padding-top: 40px;
}

#myPage .titleBox{
    width: 100%;
    height: 75px;
    text-align: center;
    font-size: 24px;
    line-height: 75px;
    /*color: #3e4462;*/
}
#myPage .profileBox{
    width: 100%;
    height: 60px;
    line-height: 40px;
    border-top: 2px solid #3e4462;
    font-size: 20px;
    padding: 10px;
    padding-left: 25px;
    float: left;
    /*color: #3e4462;*/
}
#myPage .profileBox > div{
    width: 50px;
    height: 60px;
    float: right;
    text-align: center;
}
#myPage .profileBox > div > i{
    margin-top: 10px;
}
#myPage .linkBox{
    width: 100%;
    height: 250px;
    float: left;
    border: 1px solid #3e4462;
}
#myPage .linkBox .link{
    width: 50%;
    height: 50%;
    float: left;
    text-align: center;
    padding-top: 35px;
    border: 1px solid #3e4462;
    line-height: 45px;
    /*color: #3e4462;*/
    background-color: #ffffff;
}
#myPage .linkBox .link > .icon{
    font-size: 28px;
}
#myPage .linkBox .link > .text{
    font-size: 18px;
}

#myPage .buttonBox{
    width: 340px;
    height: 50px;
    margin: auto;
    margin-top: 400px;
}
#myPage .buttonBox button{
    width: 100%;
    height: 100%;
    border-radius: 7px;
    border: none;
    background-color: #e84c4f;
    color: white;
    font-size: 1.1em;
    cursor: pointer;
}

#myPage a{
    text-decoration: none;
    color: black;
}
#myPage a:active{
    color: unset;
}
#myPage a:visited{
    color: unset;
}