#basket *{box-sizing: border-box;}
#basket .container{
    width: 360px;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 135px;
    overflow: hidden;
}
#basket .titleBox{
    width: 100%;
    height: 75px;
    text-align: center;
    font-size: 24px;
    line-height: 75px;
}
#basket .storeImgBox{
    width: 30px;
    height: 30px;
    border-radius: 7px;
    overflow: hidden;
    float: left;
}
#basket .storeNameBox{
    height: 30px;
    float: left;
    padding-left: 7px;
    font-weight: bold;
}


#basket .menuBox{
    width: 100%;
    height: fit-content;
}

#basket .menuTopDiv{
    width: 100%;
    margin-bottom: 10px;
    float: left;
}
#basket .menuTopDiv > .menuNameSpan{
    font-size: 18px;
    font-weight: bold;
}
#basket .menuTopDiv > .deleteBtn{
    border: none;
    background-color: unset;
    float: right;
}


#basket .menuImgDiv{
    width: 125px;
    height: 125px;
    border-radius: 7px;
    overflow: hidden;
    float: left;
}
#basket .menuImgDiv > img{
    width: 125px;
    height: 125px;
}


#basket .menuInfoDiv{
    width: 210px;
    float: left;
    font-size: 12px;
    color: #7e7e7e;
}
#basket .menuInfoDiv > ul{
    margin-left: -15px;
}

#basket .priceBox{
    font-size: 14px;
    color: black;
    padding-left: 15px;
    width: 100%;
    float: left;
}

#basket .menuBottomDiv{
    width: 100%;
    float: left;
    padding-bottom: 15px;
    border-bottom: 1px solid #cacaca;
    margin-bottom: 15px;
}
#basket .countBox{
    width: 125px;
    float: right;
}
#basket .countBox > .countSpan{
    text-align: center;
}


#basket .deliveryInfoDiv{
    width: 100%;
    float: left;

}
#basket .deliveryInfoDiv > .deliInfoLeftBox{
    width: 30%;
    float: left;
}
#basket .deliveryInfoDiv > .deliInfoRightBox{
    width: 70%;
    float: left;
    text-align: right;
}


#basket .buttonBox{
    width: 350px;
    height: 50px;
    float: left;
    margin-top: 30px;
}
#basket .buttonBox button{
    width: 340px;
    height: 100%;
    border-radius: 7px;
    border: none;
    background-color: #e84c4f;
    color: white;
    font-size: 1.1em;
    cursor: pointer;
}
#basket .buttonBox #countPB{
    width: 28px;
    height: 28px;
    float: left;
    margin-left: 15px;
    border: 1px solid white;
    border-radius: 100px;
    background-color: #F8F5F2;
    color: #e84c4f;
    font-size: 14px;
    line-height: 27px;
    font-weight: bold;
}
#basket .buttonBox #orderPB{
    width: fit-content;
    margin-left: 30px;
}
#basket .buttonBox #totalPBBox{
    width: fit-content;
    float: right;
    margin-right: 15px;
    line-height: 27px;
    font-size: 14px;
}









#basket a:visited{
    color: unset;
}