#orderDetail * {
    box-sizing: border-box;
}

.container {
    width: 375px;
    height: auto;
    border: 1px solid black;
    margin: auto;
}

.btn {

    width: 100%;
    height: 50px;
}

#complete {
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: #e84c4f;
    color: white;
    border-radius: 5px;
    border-style: none;
}
