/*main CSS*/
.container {
    width: 360px;
    height: 100%;
}

/*modal CSS*/
.modal-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.modal-window {
    /*background: rgba(69, 139, 197, 0.70);*/
    background: rgba(255, 255, 255, 0.70);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 400px;
    height: 500px;
    position: relative;
    top: -100px;
    padding: 10px;
}

.title {
    padding-left: 10px;
    display: inline;
    text-shadow: 1px 1px 2px gray;
    color: white;
}

.title h2 {
    display: inline;
}

.close-area {
    display: inline;
    float: right;
    padding-right: 10px;
    cursor: pointer;
    text-shadow: 1px 1px 2px gray;
    color: white;
}

.content {
    margin-top: 20px;
    padding: 0px 10px;
    text-shadow: 1px 1px 2px gray;
    color: white;
}

.couponInfo {
    color: black;
}

#pay_method{
    text-align: center;
}
#pay_method #payKakao{
    border-radius: 7px;
    border: none;
    text-align: center;
    color: white;
    background-color: #e84c4f;
    font-size: 1em;
}

#pay_method #payCard{
    border-radius: 7px;
    border: none;
    text-align: center;
    color: white;
    background-color: #e84c4f;
    font-size: 1em;
}

#btn_modal2{
    border-radius: 7px;
    border: none;
    text-align: center;
    color: white;
    background-color: #e84c4f;
    font-size: 1em;
}
#address1{
    float: left;
}
#destination_change{
    border-radius: 7px;
    border: none;
    text-align: center;
    color: white;
    background-color: #e84c4f;
    font-size: 1em;
    margin-left: 100px;
}

#point #own_point{
    border-radius: 7px;
}



#ownPointOut{
    width: 25%;
    float: left;

}
#ownPoint{
    width: 100%;
}
#total_price{
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 5px;
}
.payPriceRowBox{
    width: 100%;
    border-top: 1px solid lightgray;
    float: left;
    padding-top: 15px;
}
#pay_price_out{
    font-weight: bold;
    font-size: 20px;
    float: left;
}
#pay_price{
    float: right;
}
.orderPriceRowBox{
    width: 100%;
    float: left;
}
.orderPriceRowBox > #order_price_out{
    float: left;
}
.orderPriceRowBox > #order_price{
    float: right;
}
.couponRowBox{
    width: 100%;
    float: left;
}
.couponRowBox > #selectCoupon{
    float: left;
}
.couponRowBox > #discountPrice{
    float: right;
}
.pointRowBox{
    width: 100%;
    float: left;
}
.pointRowBox > #salePoint{
    float: left;
}
.pointRowBox > #use_point{
    float: right;
}
.tipRowBox{
    width: 100%;
    float: left;
}
.tipRowBox > #delivery_tip_out{
    float: left;
}
.tipRowBox > #delivery_tip{
    float: right;
}
.wonBox{
    float: right;
    padding-right: 31px;
}