#order_history * {
    box-sizing: border-box;
}

#order_history div {
 // border: 1px solid black;
}

#order_history .container {
    width: 360px;
    /*height: 100px;*/
    margin-top: 20px;
    margin-bottom: 30px;
    /*overflow: hidden;*/
}

#order_history #pageTitle{
    height: 40px;
    text-align: center;
    font-size: 24px;
    line-height: 10px;
    margin-bottom: 15px;
}
#order_history .box1{
    border-radius: 20px;
    width: 350px;
    height: 130px;
    padding: 6px 13px 6px 13px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    font-size: 13px;
    box-shadow: 0 5px 18px -7px rgba(0,0,0,0.1);
}
#order_history .box2{
    width: 100%;
    height: 15%;
    /* font-size: 10px; */
}
#order_history .box3{
    width: 100%;
    height: 85%;
}

#order_history .head_deli{
    margin-right: 15px;
    height: 100%;
    padding-left: 20px;

}
#order_history .head_date{
    margin-right: 30px;
    padding-left: 22px;
}
#order_history .head_status{
    float:right;
    padding-right: 3px;
}
#order_history .image-box {
    width:30%;
    height:100%;
    overflow:hidden;
    margin:0 auto;
    float: left;
}
#order_history .image-thumbnail {
    /*width:100%;*/
    /*height:100%;*/
    /*object-fit:scale-down;*/
    margin-top: 8px;
    width: 85px;
    height: 85px;
    border-radius: 20px;
    object-fit: cover;
    margin-right: 10px;
}
#order_history .info{
    margin: 1px;
    width: 70%;
    height: 90px;
    /*float: left;*/
    padding-left: 6px;
    overflow: hidden;
    text-align: left;

}



#order_history .infohead{
    margin-left :2px;
    height: 25px;
    line-height: 30px;
    font-size: 15px;
    font-weight: bolder;
}
.storeloca{
    /* font-size: 10px; */
}

#order_history .meinfo{
     font-size: 13px;
    padding-left: 3px;

    line-height: 20px;
}

#order_history .infoFooter{
    line-height: 60px;



}

#order_history .infoFooter button{
    
        height: 30px;

    line-height: 10px;
}

#order_history a{
    text-decoration: none;
    color: black;
}