#orderDetail * {
    box-sizing: border-box;
}

#orderDetail .container {
    width: 360px;
    height: auto;
    border: 1px solid black;
    margin: auto;
    margin-top: 45px;
}

#orderDetail .container > div {
    width: 95%;
    margin: auto;
}

/*상호명*/
#orderDetail .store div {
    font-size: 14px;
    line-height: 27px;
}

/*주문내역*/
#orderDetail .order div {
    font-size: 14px;
    line-height: 27px;
}

#orderDetail .order .menuBox #menu_name {
    font-weight: bold;
}


/*hr{width: 95%; border-width:0.25px;}*/
#orderDetail .btn {
    padding: 10px 0px;
    width: 100%;
    height: 50px;
}

#orderDetail #complete {
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: #e84c4f;
    color: white;
    border-radius: 5px;
    border-style: none;
}

/*결제정보*/
#orderDetail .pay div {
    font-size: 14px;
    line-height: 27px;
}

#orderDetail .field {
    float: left;
    width: 70%;
}

#orderDetail .price {
    text-align: right;
}

#orderDetail .pay_method {
    text-align: right;
}

#orderDetail .pay_field, #orderDetail .pay_method {
    font-weight: bold;
}


/*주문자정보*/
#orderDetail #destination, #orderDetail #phone, #orderDetail #store_req, #orderDetail #del_req {
    font-size: small;
}

#orderDetail .orderer div {
    font-size: 14px;
    line-height: 27px;
}

#orderDetail #destination, #orderDetail #phone, #orderDetail #store_req, #orderDetail #del_req {
    font-size: 13px;
    /*color: #888888;*/
}

/*div{border: 1px solid black;}*/

