#order_history * {
    box-sizing: border-box;
}

#order_history .container {
    width: 360px;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 135px;
    overflow: hidden;
}

#order_history #pageTitle{
    width: 100%;
    height: 75px;
    text-align: center;
    font-size: 24px;
    line-height: 75px;
}
#order_history .box1{
    border-radius: 20px;
    width: 334px;
    height: 130px;
    padding: 6px 9px 6px 9px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    font-size: 13px;
    box-shadow: 0 5px 18px -7px rgba(0,0,0,0.1);
}
#order_history .box2{
    width: 100%;
    height: 15%;
    /* font-size: 10px; */
}
#order_history .box3{
    width: 100%;
    height: 85%;
}

#order_history .head_deli{
    margin-right: 15px;
    height: 100%;
    padding-left: 24px;
    color: #888888;
}
#order_history .head_date{
    margin-right: 30px;
    padding-left: 15px;
}
#order_history .head_status{
    float:right;
    padding-right: 3px;
}
#order_history .image-box {
    width:30%;
    height:100%;
    overflow:hidden;
    margin:0 auto;
    float: left;
}
#order_history .image-thumbnail {
    /*width:100%;*/
    /*height:100%;*/
    /*object-fit:scale-down;*/
    margin-top: 8px;
    width: 85px;
    height: 85px;
    border-radius: 20px;
    object-fit: cover;
    margin-left: 4px;
}
#order_history .info{
    margin: 1px;
    width: 70%;
    height: 90px;
    /*float: left;*/
    padding-left: 6px;
    overflow: hidden;
    text-align: left;
}

#order_history .infohead{
    margin-left :2px;
    height: 25px;
    line-height: 30px;
    font-size: 15px;
    font-weight: bolder;
}

#order_history .meinfo{
    font-size: 13px;
    padding-top: 4px;
    padding-left: 3px;
    line-height: 20px;
}

#order_history .infoFooter{
    line-height: 50px;
}

#order_history .infoFooter button{
        height: 30px;
    line-height: 10px;
}

#order_history a{
    text-decoration: none;
    color: black;
}