#order_history * {
    box-sizing: border-box;
}

#order_history div {
    border: 1px solid black;
}

#order_history .container {
    width: 360px;
    height: 800px;
    margin-top: 30px;
    overflow: hidden;
}
#order_history .box1{
    width: 100%;
    height: 100px;
    margin-top: 40px;
}
#order_history .box2{
    width: 100%;
    height: 15%;
    /* font-size: 10px; */
}
#order_history .box3{
    width: 100%;
    height: 85%;
}

/*#order_history .head_deli{*/
/*    margin-right: 15px;*/
/*    height: 100%;*/
/*    padding-left: 3px;*/
/*}*/
/*#order_history .head_date{*/
/*    margin-right: 10px;*/
/*    padding-left: 3px;*/
/*}*/
/*#order_history .head_status{*/
/*    float:right;*/
/*    padding-right: 3px;*/
/*}*/
/*#order_history .image-box {*/
/*    width:100px;*/
/*    height:60px;*/
/*    overflow:hidden;*/
/*    margin:0 auto;*/
/*    float: left;*/
/*}*/
/*#order_history .image-thumbnail {*/
/*    width:100%;*/
/*    height:100%;*/
/*    object-fit:scale-down;*/
/*}*/
/*#order_history .info{*/
/*    margin: 9px;*/
/*    width: 65%;*/
/*    height: 60px;*/
/*    float: left;*/

/*}*/

#order_history .storename{
    margin-left :2px;
    /* font-size: 10px; */
}
.storeloca{
    /* font-size: 10px; */
}
#order_history p{
    height: 10px;
}
#order_history .meinfo{
    /* font-size: 8px; */
}