#findAccount *{box-sizing: border-box;}
#findAccount .container{
    width: 375px;
    height: 800px;
    border: 1px solid gray;
    margin: auto;
}
#findAccount .topBox{
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
}
#findAccount .topBox > .topLeftBox{
    width: 50px;
    height: 50px;
    float: left;
}
#findAccount .topBox > .topRightBox{
    width: 50px;
    height: 50px;
    float: right;
}
#findAccount .titleBox{
    width: 100%;
    height: 75px;
    text-align: center;
    font-size: 24px;
    line-height: 75px;
}
#findAccount #emailBox{
    width: 100%;
    height: fit-content;
    padding: 10px;
}

#findAccount .emailResultBox{
    width: 350px;
    height: fit-content;
    float: left;
}
#findAccount .emailDiv{
    width: 200px;
    height: 30px;
    float: left;
    font-size: 14px;
}
#findAccount .signUpDateDiv{
    width: 150px;
    height: 30px;
    float: left;
    font-size: 14px;
}

#findAccount #passWordBox{
    width: 100%;
    height: fit-content;
    padding: 10px;
}

#findAccount .passWordResultBox{
    width: 350px;
    height: fit-content;
    float: left;
}
#findAccount .passWordDiv{
    width: 350px;
    height: 30px;
    float: left;
    font-size: 14px;
    text-align: center;
}


#findAccount a{
    text-decoration: none;
    color: black;
}
#findAccount a:active{
    color: unset;
}
#findAccount a:visited{
    color: unset;
}