#findAccount *{box-sizing: border-box;}
#findAccount .container{
    width: 375px;
    height: 800px;
    border: 1px solid gray;
    margin: auto;
}
#findAccount .topBox{
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
}
#findAccount .topBox > .topLeftBox{
    width: 50px;
    height: 50px;
    float: left;
}
#findAccount .topBox > .topRightBox{
    width: 50px;
    height: 50px;
    float: right;
}
#findAccount .titleBox{
    width: 100%;
    height: 75px;
    text-align: center;
    font-size: 24px;
    line-height: 75px;
}
#findAccount a{
    text-decoration: none;
    color: black;
}
#findAccount a:active{
    color: unset;
}
#findAccount a:visited{
    color: unset;
}