#memberMain .container{
    width:360px;
    /*border: 1px solid #000000;*/
    margin: auto;
    /*background-color: #FFFFFF;*/
    padding-top: 60px;
    padding-bottom: 80px;
}

#memberMain .categoryIcon{
    width: 50px;
    height: 50px;
}

#memberMain .store_logo{
    width: 50px;
    height: 50px;
}

