#menuAdd * {
    box-sizing: border-box;
}

#menuAdd div {
  // border: 1px solid black;
}

#menuAdd .container {
    width: 100%;
    height: 80%;

}

#menuAdd .del {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 50px;
}

#menuAdd .profile {
    margin: auto;
    width: 100%;
    height: 120px;

}



#menuAdd .thumbnail {


    width:100%;
    height:100%;

    margin: auto;
    text-align: center;

}

#menuAdd .image-thumbnail {


    width: 150px;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    margin-right: 10px;
}
#menuAdd #btnCustom {
    width: 100%;
    height: 30px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 7px;
    border: 1px solid black;
    /* background-color: #e84c4f; */
    color: black;
    font-size: 1.1em;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
}
#menuAdd #menu_img{
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}


/*#menuAdd .thumbnail img {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

#menuAdd .control {
    width: 100%;
    height: 30px;
    line-height: 100px;
}

#menuAdd .control input {
    width: 100%;
    height: 50px;
    line-height: 20px;
}

/*  아래로 옵션추가 수정본*/
#menuAdd #btn_option_add {
    float: right;
}

#menuAdd .del {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 50px;
}


#menuAdd .titleImg{

    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

/*#menuAdd .contents{*/
/*//background-color: #3e4462;*/
/*    float: left;*/
/*    width: 400px;*/
/*    height: 50px;*/

/*}*/

#menuAdd .foot_btn{
    text-align: right;
}


#menuAdd .topContents{
    height: 250px;
    overflow: hidden;
}


#menuAdd .img_div{
    width: 20%;
    float: left;
    margin-right: 30px;
}

#menuAdd .rowBoxRight{
    width: 70%;
    float: right;
}

#menuAdd .rightContents input{
    padding-left: 5px;
    padding-right: 5px;
    width: 300px;
    border-radius: 25px;
    margin: 5px;
}
/*#menuAdd .rowBox{*/
/*    margin-top: 30px;*/
/*}*/

#menuAdd .option_div_add input{
    padding-left: 5px;
    padding-right: 5px;
    width: 200px;
    border-radius: 25px;
    margin: 7px;
}

#menuAdd .option_div_add{
    margin-bottom: 25px;
}