#menuAdd * {
    box-sizing: border-box;
}

#menuAdd div {
    border: 1px solid black;
}

#menuAdd .container {
    width: 100%;
    height: 80%;
}

#menuAdd .del {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 50px;
}

#menuAdd .profile {
    margin: auto;
    width: 300px;
    height: 100px;
    overflow: hidden;
}

#menuAdd .profile div {
    float: left;
    height: 100%;
}

#menuAdd .thumbnail {
    width: 30%;
    padding: 5px;
}

#menuAdd .thumbnail img {
    width: 100%;
    height: 100%;
}

#menuAdd .control {
    width: 70%;
    line-height: 100px;
}

#menuAdd .control input {
    width: 50px;
    height: 100%;
}

/*  아래로 옵션추가 수정본*/
#menuAdd #btn_option_add {
    float: right;
}

#menuAdd .del {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 50px;
}

#menuAdd .rowBox{
    overflow: hidden;
}
#menuAdd .titleImg{
    float: left;
    width: 150px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

#menuAdd .contents{
//background-color: #3e4462;
    float: left;
    width: 400px;
    height: 50px;

}

#menuAdd .foot_btn{
    text-align: right;
}

#menuAdd .img_div{
    float: left;
}