#ownerMain *{box-sizing: border-box;}

#ownerMain .infoBox{
}

#graph{
    width: 500px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 50px;
}

.deli_btn{
    height:28px;
    position: relative;
    top:-1px;
}
#optionCon{
    margin-bottom: 15px;
}

#myTable_length,myTable_filter{
    margin-bottom: 10px;
}

.memo{
    width: 600px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 50px;
    text-align: center;
}

#memoSelect{
    margin-bottom: 15px;
}
.font{
    font-weight: bold;
    font-size: large;
    color:#E84C4F;
}

.orderCnt{
    text-align: center;
}