#ownerInfo *{box-sizing: border-box;}
body, main{background-color: #2d2d33; color: white;}
#ownerInfo .container{
    max-width: 100vw;
    max-height: 100vh;
    margin: auto;
    text-align: center;
}
#ownerInfo .titleBox{
    margin-top: 100px;
    font-size: 1.5em;
    font-weight: bold;
}
#ownerInfo input{outline: none;}
#ownerInfo .emailBox{
    width: 300px;
    margin: auto;
    margin-top: 30px;
    text-align: left;
}
#ownerInfo .emailBox > #emailInput{
    width: 100%;
    height: 40px;
}
#ownerInfo .passWordBox{
    width: 300px;
    margin: auto;
    margin-top: 15px;
    text-align: left;
}
#ownerInfo .passWordBox > #passWordInput{
    width: 100%;
    height: 40px;
}
#ownerInfo .passWordBox > #passWordConfirmInput{
    width: 100%;
    height: 40px;
}
#ownerInfo .nameBox{
    width: 300px;
    margin: auto;
    margin-top: 15px;
    text-align: left;
}
#ownerInfo .nameBox > #nameInput{
    width: 100%;
    height: 40px;
}
#ownerInfo .phoneBox{
    width: 300px;
    margin: auto;
    margin-top: 15px;
    text-align: left;
}
#ownerInfo .phoneBox > #phoneInput{
    width: 70%;
    height: 38px;
    border-width: 0;
    margin: 0;
}
#ownerInfo .phoneBox > #certificationButton{
    width: 30%;
    height: 40px;
    margin-left: -6px;
    outline: none;
}
#ownerInfo .ownerNumBox{
    width: 300px;
    margin: auto;
    margin-top: 15px;
    text-align: left;
}
#ownerInfo .ownerNumBox > #ownerNumInput{
    width: 100%;
    height: 40px;
}
#ownerInfo .ownerCardBox{
    width: 300px;
    margin: auto;
    margin-top: 15px;
    text-align: left;
}
#ownerInfo .ownerCardBox > #ownerCardInput{
    width: 70%;
    height: 38px;
    border-width: 0;
    margin: 0;
    display: inline;
    outline: none;
}
#ownerInfo .ownerCardBox > #ownerCardUpLoadButton{
    width: 30%;
    height: 40px;
    margin-left: -6px;
    display: inline;
    outline: none;
}
#ownerInfo .buttonBox{
    width: 300px;
    margin: auto;
    margin-top: 30px;
}
