#storeAdd * {
    box-sizing: border-box;
}

#storeAdd div {
   // border: 1px solid black;
}

#storeAdd .container {
    width: 100%;
    overflow: hidden;
    margin-top: 40px;
    padding-bottom : 50px;

}
#storeAdd .box1{
    width: 300px;
}


/* 이미지미리보기*/
#storeAdd .resultval {
    color: red;
}

#storeAdd .profile {

    width: 400px;
    height: 100px;
    /*margin-bottom: 100px;*/
    /*padding-top: 50px;*/
    float: left;
}
#storeAdd #profile{
        height: 120px;
}

/*#storeAdd .profile div {*/
/*    float: left;*/
/*    height: 100%;*/
/*}*/

#storeAdd .thumbnail {
    width: 50%;
    height: 110px;
    padding: 5px;
}

#storeAdd .thumbnail img {
    width: 100%;
    height: 100%;
}

#storeAdd .control {
    width: 50%;

}
#storeAdd #btnCustom {
    width: 100%;
    height: 30px;
    position: relative;
    left: 50%;
    top:15px;
    transform: translateX(-50%);
    border-radius: 7px;
    border: 1px solid black;
    /* background-color: #e84c4f; */
    color: black;
    font-size: 1.1em;
    cursor: pointer;
    text-align: center;
    line-height: 30px;

}

#storeAdd #menu_img{
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}
#storeAdd .control input {
    width: 100%;
    height: 70%;
}

/*#storeAdd #store_name{*/
/*    !*position: absolute;*!*/
/*    !*left: 35%;*!*/
/*    !*right: 35%;*!*/
/*    !*top: 4%;*!*/
/*    !*!*bottom: 10px%;*!*!*/
/*    left: 100px;*/

/*    !*border: 1px solid rgba(0, 0, 0, 0.5);*!*/
/*    border-radius: 25px;*/
/*}*/

/*#storeAdd .input{*/
/*    padding-left: 5px;*/
/*    padding-right: 5px;*/
/*    width: 200px;*/
/*    border-radius: 25px;*/
/*    border: 2px solid black;*/
/*}*/

#storeAdd .input_intro{

    padding: 25px;
    width: 600px;
    height: 90px;
    background-color: rgb(204,204,204,0.4);
    border: 1px solid rgb(209, 213, 219);
    border-radius: 6px;
    color: #111827;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25rem;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03);
}

#storeAdd .input_origin{
    /*margin-top: 50px;*/
    padding: 25px;
    width: 600px;
    height: 90px;
    background-color: rgb(204,204,204,0.4);
    border: 1px solid rgb(209, 213, 219);
    border-radius: 6px;
    color: #111827;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25rem;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03);
}

/*#storeAdd .rowBox>div{*/
/*    float: left;*/
/*}*/

/*#storeAdd .form-control{*/
/*    height: 35px;*/
/*}*/
#storeAdd .rowBox{
    overflow: hidden;
    padding-top:3px;
}
#storeAdd .title{
    float: left;
    width: 180px;
    height: 50px;
    line-height: 30px;
    text-align: center;
}

#storeAdd .contents{
    //background-color: #3e4462;
    float: left;
    width: 300px;
    height: 60px;

}

#storeAdd .foot_btn{
    text-align: center;
    margin: 50px;
}



#storeAdd .bs_open_time, #storeAdd .bs_close_time, #storeAdd .bs_open_timeAll, #storeAdd .bs_close_timeAll {
    font-size: 14px;
    width: 103px;
}
#storeAdd .bs_open{
    height:25px;

}
#storeAdd #add{
    margin-right: 10px;
}


/*#storeAdd div{*/
/*    border: 1px solid black;*/
/*}*/