#storeAdd * {
    box-sizing: border-box;
}

#storeAdd div {
   // border: 1px solid black;
}

#storeAdd .container {
    width: 100%;
    overflow: hidden;

}
#storeAdd .box1{
    width: 300px;
}


/* 이미지미리보기*/
#storeAdd .resultval {
    color: red;
}

#storeAdd .profile {

    width: 400px;
    height: 150px;
    overflow: hidden;
}

#storeAdd .profile div {
    float: left;
    height: 100%;
}

#storeAdd .thumbnail {
    width: 30%;
    height: 50px;
    padding: 5px;
}

#storeAdd .thumbnail img {
    width: 100%;
    height: 100%;
}

#storeAdd .control {
    width: 70%;

    line-height: 50px;
}

#storeAdd .control input {
    width: 100%;
    height: 70%;
}

/*#storeAdd #store_name{*/
/*    !*position: absolute;*!*/
/*    !*left: 35%;*!*/
/*    !*right: 35%;*!*/
/*    !*top: 4%;*!*/
/*    !*!*bottom: 10px%;*!*!*/
/*    left: 100px;*/

/*    !*border: 1px solid rgba(0, 0, 0, 0.5);*!*/
/*    border-radius: 25px;*/
/*}*/

#storeAdd .input{
    padding-left: 5px;
    padding-right: 5px;
    width: 200px;
    border-radius: 25px;
}

#storeAdd .input_intro{

    padding: 25px;
    width: 600px;
    height: 100px;
    background-color: rgb(199,211,220,0.4);
    border: 1px solid rgb(209, 213, 219);
    border-radius: 6px;
    color: #111827;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25rem;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03);
}

#storeAdd .input_origin{
    /*margin-top: 50px;*/
    padding: 25px;
    width: 600px;
    height: 100px;
    background-color: rgb(199,211,220,0.4);
    border: 1px solid rgb(209, 213, 219);
    border-radius: 6px;
    color: #111827;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25rem;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03);
}

/*#storeAdd .rowBox>div{*/
/*    float: left;*/
/*}*/

#storeAdd .rowBox{
    overflow: hidden;
}
#storeAdd .title{
    float: left;
    width: 180px;
    height: 50px;
    line-height: 30px;
    text-align: center;
}

#storeAdd .contents{
    //background-color: #3e4462;
    float: left;
    width: 400px;
    height: 50px;

}

#storeAdd .foot_btn{
    text-align: right;
}
