#ownerStore #myTable .store:hover{
    background-color: rgba(87, 82, 75, 0.71);
}
#ownerStore #myTable .store .name{
    cursor: pointer;
}
a {
    text-decoration: none;
}

#container{
    margin-top: 80px;
}