#storeMng * {
    box-sizing: border-box;
}

#storeMng .container {
    width: 100%;
    overflow: hidden;

}

#storeMng .box1 {
    width: 300px;
}


/* 이미지미리보기*/
#storeMng .resultval {
    color: red;
}

#storeMng .profile {

    width: 400px;
    height: 150px;
    overflow: hidden;
}

#storeMng .profile div {
    float: left;
    height: 100%;
}

#storeMng .thumbnail {
    width: 30%;
    height: 50px;
    padding: 5px;
}

#storeMng .thumbnail img {
    width: 100%;
    height: 100%;
}

#storeMng .control {
    width: 70%;

    line-height: 50px;
}

#storeMng .control input {
    width: 100%;
    height: 70%;
}

/*#storeAdd #store_name{*/
/*    !*position: absolute;*!*/
/*    !*left: 35%;*!*/
/*    !*right: 35%;*!*/
/*    !*top: 4%;*!*/
/*    !*!*bottom: 10px%;*!*!*/
/*    left: 100px;*/

/*    !*border: 1px solid rgba(0, 0, 0, 0.5);*!*/
/*    border-radius: 25px;*/
/*}*/

#storeMng .input {
    padding-left: 5px;
    padding-right: 5px;
    width: 200px;
    border-radius: 25px;
}

#storeMng .input_intro {

    padding: 25px;
    width: 600px;
    height: 100px;
    background-color: rgb(199, 211, 220, 0.4);
    border: 1px solid rgb(209, 213, 219);
    border-radius: 6px;
    color: #111827;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25rem;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03);
}

#storeMng .input_origin {
    /*margin-top: 50px;*/
    padding: 25px;
    width: 600px;
    height: 100px;
    background-color: rgb(199, 211, 220, 0.4);
    border: 1px solid rgb(209, 213, 219);
    border-radius: 6px;
    color: #111827;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25rem;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03);
}

/*#storeAdd .rowBox>div{*/
/*    float: left;*/
/*}*/

#storeMng .rowBox {
    overflow: hidden;
}

#storeMng .title {
    float: left;
    width: 180px;
    height: 50px;
    line-height: 30px;
    text-align: center;
}

#storeMng .contents {
/ / background-color: #3e4462;
    float: left;
    width: 300px;
    height: 50px;

}

#storeMng .foot_btn {
    text-align: right;
}

#storeMng .bs_open_time, #storeMng .bs_close_time{
    font-size: 14px;
    width: 103px;
}
#storeMng .bs_open{
    height:25px;

}





/*<div class="container">*/
/*<c:choose>*/
/*<c:when test="${not empty store}">*/
/*<form action="/store/mng/modify" id="frm" method="post" enctype="multipart/form-data">*/
/*<div>*/
/*<%--store_seq--%>*/
/*<input type="hidden" name="store_seq" id="store_seq" value="${store.store_seq}">*/

/*<input type="text" name="store_name" value="${store.store_name}">*/
/*<br>*/
/*<input type="text" name="store_phone" value="${store.store_phone}">*/
/*<br>*/
/*<input type="text" id="postcode">*/
/*<button type="button" class="postsearch">우편검색</button>*/
/*<br>*/
/*<input type="text" id="add1" name="store_add_detail1" value="${store.store_add_detail1}">*/
/*<br>*/
/*<input type="text" id="add2" name="store_add_detail2" value="${store.store_add_detail2}">*/
/*<br>*/
/*<input type="hidden" id="store_add_x" name="store_add_x" value="${store.store_add_x}">*/
/*<input type="hidden" id="store_add_y" name="store_add_y" value="${store.store_add_y}">*/

/*<select name="store_category">*/
/*<c:if test="${store.store_category eq '한식'}">*/
/*<option value="한식" selected>*/
/*                   한식*/
/*</option>*/
/*<option value="양식">*/
/*                  양식*/
/*</option>*/
/*<option value="일식">*/
/*                  일식*/
/*</option>*/
/*<option value="중식">*/
/*                  중식*/
/*</option>*/
/*</c:if>*/

/*<c:if test="${store.store_category eq '양식'}">*/
/*<option value="한식">*/
/*                  한식*/
/*</option>*/
/*<option value="양식" selected>*/
/*                   양식*/
/*</option>*/
/*<option value="일식">*/
/*                  일식*/
/*</option>*/
/*<option value="중식">*/
/*                  중식*/
/*</option>*/
/*</c:if>*/

/*<c:if test="${store.store_category eq '일식'}">*/
/*<option value="한식">*/
/*                  한식*/
/*</option>*/
/*<option value="양식">*/
/*                  양식*/
/*</option>*/
/*<option value="일식" selected>*/
/*                   일식*/
/*</option>*/
/*<option value="중식">*/
/*                  중식*/
/*</option>*/
/*</c:if>*/

/*<c:if test="${store.store_category eq '중식'}">*/
/*<option value="한식">*/
/*                  한식*/
/*</option>*/
/*<option value="양식">*/
/*                  양식*/
/*</option>*/
/*<option value="일식">*/
/*                  일식*/
/*</option>*/
/*<option value="중식" selected>*/
/*                   중식*/
/*</option>*/
/*</c:if>*/
/*</select>*/
/*<br>*/
/*<div class="profile">*/
/*<div class="thumbnail">*/
/*<img src="/resources/img/store/${store.store_logo}" id="profile">*/
/*</div>*/
/*<div class="control">*/
/*<input type=file name="file" id="menu_img" accept=".png, .jpg, .jpg,.gif">*/
/*</div>*/
/*</div>*/
/*<input type="text" name="store_intro" value="${store.store_intro}">*/
/*<br>*/
/*<input type="text" name="store_origin" value="${store.store_origin}">*/
/*<br>*/

/*<div class="bsns_div">*/
/*<span>월요일</span>*/
/*<input type="hidden" class="bsns" value="월요일">*/
/*<select name="test" class="bsns bs bs_open">*/
/*<option <c:if test="${parsingStr.get('mon').get('open') eq '영업일'}">selected</c:if>>영업일*/
/*</option>*/
/*<option <c:if test="${parsingStr.get('mon').get('open') eq '휴무일'}">selected</c:if>>휴무일*/
/*</option>*/
/*</select>*/
/*<span class="bs_time">*/
/*<input type="time" class="bsns bs_open_time" value="${parsingStr.get("mon").get("open_time")}">*/
/*<input type="time" class="bsns bs_close_time" value="${parsingStr.get("mon").get("close_time")}">*/
/*</span>*/

/*</div>*/
/*<div class="bsns_div">*/
/*<span>화요일</span>*/
/*<input type="hidden" class="bsns" value="화요일">*/
/*<select name="test" class="bsns bs bs_open">*/
/*<option <c:if test="${parsingStr.get('tue').get('open') eq '영업일'}">selected</c:if>>영업일*/
/*</option>*/
/*<option <c:if test="${parsingStr.get('tue').get('open') eq '휴무일'}">selected</c:if>>휴무일*/
/*</option>*/
/*</select>*/
/*<span class="bs_time">*/
/*<input type="time" class="bsns bs_open_time" value="${parsingStr.get("tue").get("open_time")}">*/
/*<input type="time" class="bsns bs_close_time" value="${parsingStr.get("tue").get("close_time")}">*/
/*</span>*/
/*</div>*/
/*<div class="bsns_div">*/
/*<span>수요일</span>*/
/*<input type="hidden" class="bsns" value="수요일">*/
/*<select name="test" class="bsns bs bs_open">*/
/*<option <c:if test="${parsingStr.get('wed').get('open') eq '영업일'}">selected</c:if>>영업일*/
/*</option>*/
/*<option <c:if test="${parsingStr.get('wed').get('open') eq '휴무일'}">selected</c:if>>휴무일*/
/*</option>*/
/*</select>*/
/*<span class="bs_time">*/
/*<input type="time" class="bsns bs_open_time" value="${parsingStr.get("wed").get("open_time")}">*/
/*<input type="time" class="bsns bs_close_time" value="${parsingStr.get("wed").get("close_time")}">*/
/*</span>*/
/*</div>*/


/*<div class="bsns_div">*/
/*<span>목요일</span>*/
/*<input type="hidden" class="bsns" value="목요일">*/
/*<select name="test" class="bsns bs bs_open">*/
/*<option <c:if test="${parsingStr.get('thu').get('open') eq '영업일'}">selected</c:if>>영업일*/
/*</option>*/
/*<option <c:if test="${parsingStr.get('thu').get('open') eq '휴무일'}">selected</c:if>>휴무일*/
/*</option>*/
/*</select>*/
/*<span class="bs_time">*/
/*<input type="time" class="bsns bs_open_time" value="${parsingStr.get("thu").get("open_time")}">*/
/*<input type="time" class="bsns bs_close_time" value="${parsingStr.get("thu").get("close_time")}">*/
/*</span>*/
/*</div>*/
/*<div class="bsns_div">*/
/*<span>금요일</span>*/
/*<input type="hidden" class="bsns" value="금요일">*/
/*<select name="test" class="bsns bs bs_open">*/
/*<option <c:if test="${parsingStr.get('fri').get('open') eq '영업일'}">selected</c:if>>영업일*/
/*</option>*/
/*<option <c:if test="${parsingStr.get('fri').get('open') eq '휴무일'}">selected</c:if>>휴무일*/
/*</option>*/
/*</select>*/
/*<span class="bs_time">*/
/*<input type="time" class="bsns bs_open_time" value="${parsingStr.get("fri").get("open_time")}">*/
/*<input type="time" class="bsns bs_close_time" value="${parsingStr.get("fri").get("close_time")}">*/
/*</span>*/
/*</div>*/
/*<div class="bsns_div">*/
/*<span>토요일</span>*/
/*<input type="hidden" class="bsns" value="토요일">*/
/*<select name="test" class="bsns bs bs_open">*/
/*<option <c:if test="${parsingStr.get('sat').get('open') eq '영업일'}">selected</c:if>>영업일*/
/*</option>*/
/*<option <c:if test="${parsingStr.get('sat').get('open') eq '휴무일'}">selected</c:if>>휴무일*/
/*</option>*/
/*</select>*/
/*<span class="bs_time">*/
/*<input type="time" class="bsns bs_open_time" value="${parsingStr.get("sat").get("open_time")}">*/
/*<input type="time" class="bsns bs_close_time" value="${parsingStr.get("sat").get("close_time")}">*/
/*</span>*/
/*</div>*/
/*<div class="bsns_div">*/
/*<span>일요일</span>*/
/*<input type="hidden" class="bsns" value="일요일">*/
/*<select name="test" class="bsns bs bs_open">*/
/*<option <c:if test="${parsingStr.get('sun').get('open') eq '영업일'}">selected</c:if>>영업일*/
/*</option>*/
/*<option <c:if test="${parsingStr.get('sun').get('open') eq '휴무일'}">selected</c:if>>휴무일*/
/*</option>*/
/*</select>*/
/*<span class="bs_time">*/
/*<input type="time" class="bsns bs_open_time" value="${parsingStr.get("sun").get("open_time")}">*/
/*<input type="time" class="bsns bs_close_time" value="${parsingStr.get("sun").get("close_time")}">*/
/*</span>*/
/*</div>*/
/*<input type="hidden" id="bsns_data" name="store_bsns_hours">*/

/*<br>*/
/*<input type="text" name="store_close_day" value="${store.store_close_day}">*/
/*<br>*/
/*<input type="text" name="store_min_price" value="${store.store_min_price}">*/
/*<input type="text" name="store_deli_tip" value="${store.store_deli_tip}">*/
/*<br>*/

/*<select name="store_deli_time" id="time">*/
/*<c:if test="${store.store_deli_time eq '20'}">*/
/*<option value="20" selected>20분</option>*/
/*<option value="30">30분</option>*/
/*<option value="40">40분</option>*/
/*<option value="60">60분</option>*/
/*<option value="90">90분</option>*/
/*</c:if>*/

/*<c:if test="${store.store_deli_time eq '30'}">*/
/*<option value="20">20분</option>*/
/*<option value="30" selected>30분</option>*/
/*<option value="40">40분</option>*/
/*<option value="60">60분</option>*/
/*<option value="90">90분</option>*/
/*</c:if>*/


/*<c:if test="${store.store_deli_time eq '40'}">*/
/*<option value="20">20분</option>*/
/*<option value="30">30분</option>*/
/*<option value="40" selected>40분</option>*/
/*<option value="60">60분</option>*/
/*<option value="90">90분</option>*/
/*</c:if>*/


/*<c:if test="${store.store_deli_time eq '60'}">*/
/*<option value="20">20분</option>*/
/*<option value="30">30분</option>*/
/*<option value="40">40분</option>*/
/*<option value="60" selected>60분</option>*/
/*<option value="90">90분</option>*/
/*</c:if>*/

/*<c:if test="${store.store_deli_time eq '90'}">*/
/*<option value="20">20분</option>*/
/*<option value="30">30분</option>*/
/*<option value="40">40분</option>*/
/*<option value="60">60분</option>*/
/*<option value="90" selected>90분</option>*/
/*</c:if>*/
/*</select>*/


/*<p>오픈여부</p>*/
/*<c:if test="${store.store_open eq 'Y'}">*/
/*<label><input type="radio" name="store_open" value="Y" checked> Y</label>*/
/*<label><input type="radio" name="store_open" value="N"> N</label>*/
/*</c:if>*/

/*<c:if test="${store.store_open eq'N'}">*/
/*<label><input type="radio" name="store_open" value="Y"> Y</label>*/
/*<label><input type="radio" name="store_open" value="N" checked> N</label>*/
/*</c:if>*/

/*<p>공개여부</p>*/
/*<c:if test="${store.store_display eq'Y'}">*/
/*<label><input type="radio" name="store_display" value="Y" checked>Y</label>*/
/*<label><input type="radio" name="store_display" value="N">N</label>*/
/*</c:if>*/
/*<c:if test="${store.store_display eq'N'}">*/
/*<label><input type="radio" name="store_display" value="Y">Y</label>*/
/*<label><input type="radio" name="store_display" value="N" checked>N</label>*/
/*</c:if>*/
/*<br>*/
/*<input type="text" name="store_destination" value="${store.store_destination}">*/
/*</div>*/
/*<button id="modifyStoreBtn" type="button">수정</button>*/
/*<button id="deleteStoreBtn" type="button">삭제</button>*/
/*</form>*/
/*</c:when>*/
/*<c:otherwise>*/
/*<div>식당이 존재하지 않습니다.</div>*/
/*</c:otherwise>*/
/*</c:choose>*/
/*</div>*/















