.modal {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    display: none;
}

.modal_content {
    width: 400px;
    height: auto;
    background: #fff;
    border-radius: 10px;
    position: relative;
    top: 40%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
    text-align: center;
    box-sizing: border-box;
    padding: 74px 0;
    /*line-height: 23px;*/
    cursor: pointer;
}

