#owner_list .modal {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    display: none;
}

#owner_list .modal_content {
    width: 400px;
    height: auto;
    background: #fff;
    border-radius: 10px;
    position: relative;
    top: 40%;
    left: 50%;
    margin-top: -150px;
    margin-left: -200px;
    text-align: center;
    box-sizing: border-box;
    padding: 74px 0;
    /*line-height: 23px;*/
    cursor: pointer;
}




#myTable * {
    cursor: pointer;
}

#owner_list .closeBtn{
    position: relative;
    bottom: 40px;
    left: 155px
}

#owner_list .modalInfo{
    margin: 5px 50px 5px 50px;
    text-align: left;
}


#owner_list .modalInfo>input{
    width: 185px;
    border: none;
    background: none;
}

#owner_list .modalTitle{
    display: inline-block;
    padding-left: 13px;
    width: 110px;
    font-weight: bold;
}