
#review_mng .modal {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
}

#review_mng .modal_content {
    width: 400px;
    height: auto;
    background: #fff;
    border-radius: 10px;
    position: relative;
    top: 40%;
    left: 50%;
    margin-top: -150px;
    margin-left: -200px;
    text-align: center;
    box-sizing: border-box;
    padding: 74px 0;
    cursor: pointer;
}

#review_mng .closeBtn{
    position: relative;
    bottom: 40px;
    left: 155px
}

#review_mng .modalInfo{
    position: relative;
    left: 50px;
    text-align: left;
}
#review_mng .modalInfo>input{
    border: none;
    background: none;
}

#review_mng .modalTitle{
    display: inline-block;
    width: 110px;
    font-weight: bold;
}


/*#review_mng .modal {*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background: rgba(0, 0, 0, 0.8);*/
/*    top: 0;*/
/*    left: 0;*/
/*    display: none;*/
/*}*/

/*#review_mng .modal_content {*/
/*    width: 400px;*/
/*    height: auto;*/
/*    background: #fff;*/
/*    border-radius: 10px;*/
/*    position: relative;*/
/*    top: 40%;*/
/*    left: 50%;*/
/*    margin-top: -150px;*/
/*    margin-left: -200px;*/
/*    text-align: center;*/
/*    box-sizing: border-box;*/
/*    padding: 74px 0;*/
/*    !*line-height: 23px;*!*/
/*    cursor: pointer;*/
/*}*/

#review_mng #reviewField {
    position: relative;
    left: -93px;
}

#review_mng #review_content {
    border: 1px solid black;
    margin: auto;
    width: 250px;
}

#review_mng #myTable * {
    cursor: pointer;
}


/*#review_mng #container{*/
/*    position: relative;*/
/*    top: 80px;*/
/*}*/

/*#adminStore #myTable{*/
/*    cursor: pointer;*/
/*}*/

/*#adminStore #myTable_info,#myTable_paginate{*/
/*    position: relative;*/
/*    top: 20px;*/
/*}*/
/*#adminStore #myTable_filter,#myTable_length{*/
/*    position: relative;*/
/*    bottom: 20px;*/
/*}*/

/*#adminStore .modal {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background: rgba(0, 0, 0, 0.8);*/
/*    display: none;*/
/*}*/

/*#adminStore .modal_content {*/
/*    width: 400px;*/
/*    height: auto;*/
/*    background: #fff;*/
/*    border-radius: 10px;*/
/*    position: relative;*/
/*    top: 40%;*/
/*    left: 50%;*/
/*    margin-top: -150px;*/
/*    margin-left: -200px;*/
/*    text-align: center;*/
/*    box-sizing: border-box;*/
/*    padding: 74px 0;*/
/*    cursor: pointer;*/
/*}*/

/*#adminStore .closeBtn{*/
/*    position: relative;*/
/*    bottom: 40px;*/
/*    left: 155px*/
/*}*/

/*#adminStore .modalInfo{*/
/*    position: relative;*/
/*    left: 50px;*/
/*    text-align: left;*/
/*}*/
/*#adminStore .modalInfo>input{*/
/*    border: none;*/
/*    background: none;*/
/*}*/

/*#adminStore .modalTitle{*/
/*    display: inline-block;*/
/*    width: 110px;*/
/*    font-weight: bold;*/
/*}*/

/*#adminStore .btnBox>button{*/
/*    position: relative;*/
/*    top: 15px;*/
/*}*/