<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kh.deli.domain.main.mapper.MemberMainMapper">

    <select id="selectStar" resultType="Integer">
        SELECT AVG(REV_STAR) FROM REVIEW where store_seq = #{store_seq} GROUP BY STORE_SEQ
    </select>

    <select id="selectType" resultType="String">
        select acc_type from account where acc_seq=#{acc_seq}
    </select>

    <select id="selectAll" resultType="kh.deli.global.entity.StoreDTO">
        select * from store
    </select>

</mapper>