#alarm_icon {
    z-index: 30;
    width: 50px;
    position: fixed;
    margin: 0 auto;
    left: -320px;
    right: 0;
    top: 0;
    height: 45px;
    padding-top: 16px;
    color: #E84C4F;
    text-align: center;
    cursor: pointer;
}
#alarm_area{
    position: fixed;
    z-index: 30;
    width: 330px;
    height: 70%;
    margin: 0 auto;
    left: -50px;
    right: 0;
    top: 39px;
    background-color: #FFFAE7;
    display: none;
    overflow-y: scroll;
    border-radius: 10px;
}
#alarm_area::-webkit-scrollbar {
    display: none;
}

#alarm_background {
    position: fixed;
    /*z-index: 30;*/
    width: 100%;
    height: 100%;
    display:flex;
    background-color: rgb(208, 208, 225, 0);
}

#alarm_box{
    position: absolute;
    /*z-index: 30;*/
    /*width: 330px;*/
    /*height: 70%;*/
    /*margin: 0 auto;*/
    /*left: -50px;*/
    /*right: 0;*/
    /*top: 39px;*/
    /*background-color: #E84C4F;*/
    /*display: block;*/
    overflow-y: scroll;
    /*border-radius: 10px;*/
    /*padding: 10px 10px;*/
    padding: 20px 20px;
    width: 100%;
    font-size: 15px;
}

/* 스크롤 없애기 */
#alarm_box::-webkit-scrollbar {
    display: none;
}

#alarm_box .alarm{
    position: relative;
    display: block;
    /*z-index: 30;*/
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 7px;
}

#alarm_close_btn{
    z-index: 30;
    position: sticky;
    margin: 0 auto;
    top:94%;
    width: 100%;
    height: 7%;
    cursor: pointer;
    border: none;
}

.notice_del_btn{
    background: none;
    border: none;
}

#new_alarm_icon{
    position: fixed;
    z-index: 50;
    margin: 0 auto;
    width: 17px;
    height: 10px;
    left: -300px;
    right: 0;
    top: 23px;
    scale: 0.5;
    padding-top: 16px;
}