<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kh.deli.domain.admin.mapper.AdminStoreMapper">

    <select id="selectAllStore" resultType="kh.deli.domain.admin.dto.AdminStoreDTO">
        SELECT s.STORE_SEQ ,s.STORE_NAME ,s.STORE_PHONE,s.STORE_CATEGORY ,s.STORE_ADD_DETAIL1 ,s.STORE_ADD_DETAIL2,s.STORE_DISPLAY   , o.OWNER_NUM,o.OWNER_NAME
        FROM STORE s INNER JOIN OWNER o ON s.OWNER_SEQ =o.OWNER_SEQ
    </select>

</mapper>