<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kh.deli.domain.admin.mapper.AdminReviewMapper">

    <select id="selectReviews" resultType="AdminReviewDTO">
        SELECT
            REV_SEQ,
            REV_STAR,
            MEM_NICK,
            REV_CONTENT,
            STORE_NAME,
            REV_WRITEDATE,
            REV_MODIFIED_DATE,
            REV_DISPLAY
        FROM MEMBER,STORE,REVIEW
        WHERE REVIEW.ACC_SEQ=MEMBER.ACC_SEQ
        AND REVIEW.STORE_SEQ=STORE.STORE_SEQ
    </select>

</mapper>