<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kh.deli.domain.member.myPage.mapper.MyPageReviewMapper">

    <insert id="reviewInsert" parameterType="kh.deli.global.entity.ReviewDTO">
        INSERT INTO review values (
        rev_seq.nextval,
        #{acc_seq},
        #{rev_sysname},
        #{rev_star},
        #{rev_content},
        #{store_seq},
        #{order_seq},
        sysdate,
        null,
        default
        )
    </insert>

    <resultMap type="HashMap" id="getReviewsMap">
        <result property="MEM_NICK" column="MEM_NICK" />
        <result property="REV_WRITETIME" column="REV_WRITETIME" />
        <result property="REV_STAR" column="REV_STAR" />
        <result property="REV_SYSNAME" column="REV_SYSNAME" jdbcType="NCLOB" javaType="java.lang.String" />
        <result property="REV_CONTENT" column="REV_CONTENT" />
        <result property="MENU_LIST" column="MENU_LIST" />
    </resultMap>

    <select id="getReviews" resultType="java.util.HashMap" resultMap="getReviewsMap">
<!--        SELECT-->
<!--            R.REV_SEQ,        &#45;&#45;리뷰번호-->
<!--            R.STORE_SEQ,      &#45;&#45;식당번호(참조용)-->
<!--            (SELECT STORE_NAME FROM STORE WHERE STORE_SEQ = R.STORE_SEQ) AS STORE_NAME, &#45;&#45; 식당이름-->
<!--            R.REV_STAR,       &#45;&#45;별점-->
<!--            R.REV_CONTENT,    &#45;&#45;리뷰 내용-->
<!--            R.REV_SYSNAME,    &#45;&#45;리뷰 사진-->
<!--            R.ORDER_SEQ,      &#45;&#45;주문번호 (메뉴리스트 참조용)-->
<!--            O.MENU_LIST,    &#45;&#45;메뉴리스트-->
<!--            TO_CHAR(R.rev_writedate,'YYYY/MM/DD HH24:MI:SS')  AS REV_WRITETIME,  &#45;&#45;리뷰 작성시간 (수정시간)-->
<!--            CASE-->
<!--                WHEN TO_CHAR(R.rev_writedate + NUMTODSINTERVAL(3,'day'), 'YYYY/MM/DD HH24:MI:SS.FF' ) <![CDATA[>]]> TO_CHAR(SYSTIMESTAMP,'YYYY/MM/DD HH24:MI:SS.FF') THEN 'Y'-->
<!--            ELSE 'N'-->
<!--            END FLAG_UDT-->
<!--        FROM-->
<!--            REVIEW R-->
<!--            INNER JOIN ORDERS O ON( R.ORDER_SEQ = O.ORDER_SEQ )-->
<!--        WHERE-->
<!--            R.ACC_SEQ = #{myReviewDTO.acc_seq}-->
<!--        ORDER BY WRITE_TIME DESC-->

        SELECT
        R.REV_SEQ,
        R.STORE_SEQ,
        (SELECT STORE_NAME FROM STORE WHERE STORE_SEQ = R.STORE_SEQ) AS STORE_NAME,
        R.REV_STAR,
        R.REV_CONTENT,
        R.REV_SYSNAME,
        R.ORDER_SEQ,
        O.MENU_LIST,
        TO_CHAR(R.rev_writedate,'YYYY/MM/DD HH24:MI:SS')  AS REV_WRITETIME,
        CASE
        WHEN TO_CHAR(R.rev_writedate + NUMTODSINTERVAL(3,'day'), 'YYYY/MM/DD HH24:MI:SS.FF' ) > TO_CHAR(SYSTIMESTAMP,'YYYY/MM/DD HH24:MI:SS.FF') THEN 'Y'
        ELSE 'N'
        END FLAG_UDT
        FROM
        REVIEW R
        INNER JOIN ORDERS O ON( R.ORDER_SEQ = O.ORDER_SEQ )
        WHERE
            R.ACC_SEQ = #{myReviewDTO.acc_seq}
        ORDER BY REV_WRITETIME DESC
    </select>
    <select id="getReviewCount" parameterType="kh.deli.domain.member.myPage.dto.MypageReviewDTO" resultType="int" >
        SELECT
            COUNT(*) AS REV_CNT
        FROM REVIEW
        WHERE ACC_SEQ = #{myReviewDTO.acc_seq}
    </select>

</mapper>