@font-face{
    font-family: 'Pretendard-Regular';
    src: url('/resources/font/Pretendard-Regular.woff') format('woff'); /* 모든 브라우저*/
    font-weight: 400;
    font-style: normal;
}

* {font-family:'Pretendard-Regular'}



