@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {font-family:'Pretendard-Regular' }

body {
    background: #333333 !important;
    overflow-y: auto;
}

main {
    background-color: #F8F5F2 !important;
    position: relative !important;
    margin: 0 auto !important;
    min-width: 360px !important;
    max-width: 420px !important;
    min-height: 100vh !important;
}

.mt55 {
    height: 55px;
    margin: 0;
    padding: 0;
    border: none;
}

.mt90 {
    height: 90px;
    margin: 0;
    padding: 0;
    border: none;
}
