<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="kh.deli.domain.member.order.mapper.OrderHistoryMapper">

    <select id="selectOrderHistory" resultType="kh.deli.domain.member.order.dto.OrderHistoryDTO">
        select  s.store_seq, store_name, store_add_detail2, add_detail2, store_bsns_hours,
        store_logo, order_date, order_seq, acc_seq, menu_list,order_price,
        pay_price, order_Status, order_rider_req, order_store_req  from store s,
        orders o where s.store_seq = o.store_seq and acc_seq=#{acc_seq}
    </select>


</mapper>