<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kh.deli.domain.member.order.mapper.OrderOrdersMapper">
    <select id="selectOrderMemberInfo" parameterType="kh.deli.domain.member.order.dto.OrderOrdersDTO" resultType="kh.deli.domain.member.order.dto.OrderOrdersDTO">
        select
            seq,
            address1,
            address2,
            phoneNum,
            ownPoint
        from
        (
            select
            A.acc_seq as seq,
            A.add_detail1 as address1,
            A.add_detail2 as address2,
            M.mem_phone as phoneNum,
            M.mem_point as ownPoint
            from member M
            inner join address A ON (A.acc_seq = M.acc_seq)
            where add_seq = 6
        )
        where
            seq = #{orderOrdersDTO.seq}

    </select>
    <update id="updateMemberAddr"  parameterType="kh.deli.domain.member.order.dto.OrderOrdersDTO">
        UPDATE ADDRESS
        SET
            ADD_DETAIL1 = #{orderOrdersDTO.address1},
            ADD_DETAIL2 = #{orderOrdersDTO.address2}
        WHERE
            ACC_SEQ = #{orderOrdersDTO.seq}
            AND ADD_SEQ = 6
    </update>

    <select id="storeInfo" resultType="StoreInfoDTO">
        select
            store_phone,
            store_add_detail1,
            store_add_detail2,
            store_name,
            store_deli_time,
            orders.order_seq,
            order_date
        from store,orders
        where store.store_seq=orders.store_seq
        and order_seq=${order_seq}
    </select>

    <select id="ordererInfo" resultType="OrdererInfoDTO">
        select
            mem_phone,
            order_store_req,
            order_rider_req,
            order_disposable,
            address.add_detail1 as address_add_detail1,
            orders.add_detail2 as orders_add_detail2
        from member,orders,address
        where orders.acc_seq=member.acc_seq
        and address.add_seq=orders.add_seq
        and order_seq=${order_seq}
    </select>

    <select id="payInfo" resultType="PayInfoDTO">
        select
            order_price,
            (pay_price*cp_discount/100) as discountByCoupon,
            order_point,
            delivery_tip,
            (order_price-(pay_price*cp_discount/100)-order_point+delivery_tip) as pay_price,
            pay_method
        from orders,coupon
        where orders.cp_seq=coupon.cp_seq
        and order_seq=${order_seq}
    </select>


</mapper>

