<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kh.deli.domain.member.order.mapper.OrderOrdersMapper">
<!--    <select id="selectSessionInfo" parameterType="kh.deli.domain.member.order.dto.OrderOrdersDTO" resultType="kh.deli.domain.member.order.dto.OrderOrdersDTO">-->
<!--        SELECT-->
<!--            A.ACC_EMAIL AS accEmail,-->
<!--            M.MEM_NAME AS memName-->
<!--        FROM ACCOUNT A-->
<!--        INNER JOIN MEMBER M ON ( A.ACC_SEQ = M.ACC_SEQ )-->
<!--        WHERE A.ACC_SEQ = #{orderOrdersDTO.seq}-->
<!--    </select>-->

    <select id="selectOrderMemberInfo" parameterType="kh.deli.domain.member.order.dto.OrderOrdersDTO" resultType="kh.deli.domain.member.order.dto.OrderOrdersDTO">
        select
            acc_seq,
            add_seq,
            address1,
            address2,
            phoneNum,
            ownPoint
        from
        (
            select
                A.acc_seq as acc_seq,
                A.add_seq as add_seq,
                A.add_detail1 as address1,
                A.add_detail2 as address2,
                M.mem_phone as phoneNum,
                NVL(M.mem_point, 0) as ownPoint
            from member M
            inner join address A ON (A.acc_seq = M.acc_seq)
            where add_seq = 6
        )
        where acc_seq = #{orderOrdersDTO.acc_seq}

    </select>
    <update id="updateMemberAddr"  parameterType="kh.deli.domain.member.order.dto.OrderOrdersDTO">
        UPDATE ADDRESS
        SET
            ADD_DETAIL1 = #{orderOrdersDTO.address1},
            ADD_DETAIL2 = #{orderOrdersDTO.address2}
        WHERE
            ACC_SEQ = #{orderOrdersDTO.acc_seq}
            AND ADD_SEQ = 6
    </update>

    <update id="updateMemberPhone" parameterType="kh.deli.domain.member.order.dto.OrderOrdersDTO">
        UPDATE MEMBER
        SET
            MEM_PHONE = #{orderOrdersDTO.phoneNum}
        WHERE
            ACC_SEQ = #{orderOrdersDTO.acc_seq}
    </update>

    <select id="selectCouponList" parameterType="kh.deli.domain.member.order.dto.OrderOrdersDTO" resultType="kh.deli.domain.member.order.dto.OrderOrdersDTO">
        SELECT
            M.MC_SEQ AS mc_seq,
            M.CP_SEQ AS cp_seq,
            C.CP_NAME AS cpName,
            C.CP_CONTENT As cpContent,
            C.CP_DISCOUNT AS discount_coupon,
            C.CP_PERIOD AS cpPeriod,
            C.CP_TYPE As cpType
        FROM MEMBER_COUPON M
        INNER JOIN COUPON C ON ( M.CP_SEQ = C.CP_SEQ )
        WHERE M.ACC_SEQ = #{orderOrdersDTO.acc_seq}
    </select>


    <insert id="insertPayment" parameterType="kh.deli.domain.member.order.dto.OrderOrdersDTO">
        INSERT INTO
        PAYMENT (PAY_SEQ,PAY_DATE,PAY_PRICE,PAY_PERIOD)
        VALUES(
        PAY_SEQ.NEXTVAL,
        #{PAY_DATE},
        #{PAY_PRICE},
        #{PAY_PERIOD}
        )

    </insert>

    <insert id="insertOrders" parameterType="kh.deli.domain.member.order.dto.OrderOrdersDTO">
        INSERT INTO
        ORDERS (ORDER_SEQ,MENU_LIST,ORDER_DISPOSABLE,ORDER_STORE_REQ,ORDER_RIDER_REQ)
        VALUES(
        ORDER_SEQ.NEXTVAL,
        #{MENU_LIST},
        #{ORDER_DISPOSABLE},
        #{ORDER_STORE_REQ},
        #{ORDER_RIDER_REQ}
        )

    </insert>

    <select id="getStoreInfo" resultType="StoreInfoDTO">
        SELECT
            STORE_PHONE,
            STORE_ADD_DETAIL1,
            STORE_ADD_DETAIL2,
            STORE_NAME,
            STORE_DELI_TIME,
            ORDERS.ORDER_SEQ,
            ORDER_DATE
        FROM STORE,ORDERS
        WHERE STORE.STORE_SEQ=ORDERS.STORE_SEQ
        AND ORDER_SEQ=${order_seq}
    </select>

    <select id="getOrdererInfo" resultType="OrdererInfoDTO">
        SELECT
        MEM_PHONE,
        ORDER_STORE_REQ,
        ORDER_RIDER_REQ,
        ORDER_DISPOSABLE,
        ADDRESS.ADD_DETAIL1 AS ADDRESS_ADD_DETAIL1,
        ORDERS.ADD_DETAIL2 AS ORDERS_ADD_DETAIL2
        FROM MEMBER JOIN ORDERS
        ON ORDERS.ACC_SEQ=MEMBER.ACC_SEQ
        JOIN ADDRESS
        ON ADDRESS.ADD_SEQ=ORDERS.ADD_SEQ
        WHERE ORDER_SEQ=#{order_seq}
    </select>

    <select id="getPayInfo" resultType="PayInfoDTO">
<!--&lt;!&ndash;        select&ndash;&gt;-->
<!--&lt;!&ndash;            order_price,&ndash;&gt;-->
<!--&lt;!&ndash;            (pay_price*cp_discount/100) as discountByCoupon,&ndash;&gt;-->
<!--&lt;!&ndash;            order_point,&ndash;&gt;-->
<!--&lt;!&ndash;            delivery_tip,&ndash;&gt;-->
<!--&lt;!&ndash;            (order_price-(pay_price*cp_discount/100)-order_point+delivery_tip) as pay_price,&ndash;&gt;-->
<!--&lt;!&ndash;            pay_method&ndash;&gt;-->
<!--&lt;!&ndash;        from orders&ndash;&gt;-->
<!--&lt;!&ndash;        ,coupon&ndash;&gt;-->
<!--&lt;!&ndash;        where&ndash;&gt;-->
<!--&lt;!&ndash;        orders.cp_seq=coupon.cp_seq and&ndash;&gt;-->
<!--&lt;!&ndash;        order_seq=${order_seq}&ndash;&gt;-->

        SELECT
        ORDER_PRICE,
        (ORDER_PRICE*CP_DISCOUNT/100) AS discountByCoupon,
        ORDER_POINT,
        DELIVERY_TIP,
        (ORDER_PRICE-(ORDER_PRICE*CP_DISCOUNT/100)-ORDER_POINT+DELIVERY_TIP) AS pay_price,
        PAY_METHOD
        FROM ORDERS LEFT JOIN COUPON
        ON ORDERS.CP_SEQ=COUPON.CP_SEQ
        WHERE ORDER_SEQ=#{order_seq}

    </select>

    <insert id="insertOrder" parameterType="kh.deli.domain.member.order.dto.OrderOrdersDTO">
        insert into orders values(
        order_seq.nextval,
        #{orderOrdersDTO.acc_seq},
        #{orderOrdersDTO.store_seq},
        #{orderOrdersDTO.menuList},
        #{orderOrdersDTO.order_price},
        sysdate,
        #{orderOrdersDTO.add_seq},
        #{orderOrdersDTO.address2},
        #{orderOrdersDTO.phoneNum},
        '미접수',
        #{orderOrdersDTO.order_disposable},
        #{orderOrdersDTO.order_rider_req},
        #{orderOrdersDTO.pay_method},
        #{orderOrdersDTO.cp_seq},
        ${orderOrdersDTO.usePoint},
        #{orderOrdersDTO.order_store_req},
        #{orderOrdersDTO.delivery_tip},
        #{orderOrdersDTO.pay_price}
        )
    </insert>

    <delete id="deleteCouponList" parameterType="kh.deli.domain.member.order.dto.OrderOrdersDTO">
        delete member_coupon
        where  acc_seq =#{orderOrderDTO.acc_seq}
        and cp_seq=#{orderOrderDTO.cp_seq}
        and mc_seq=#{orderOrderDTO.mc_seq}
    </delete>

    <update id="updateOwnPoint" parameterType="kh.deli.domain.member.order.dto.OrderOrdersDTO">
        update member
        set mem_point = #{orderOrderDTO.ownPoint}
        where acc_seq = #{orderOrderDTO.acc_seq}
    </update>
</mapper>

