<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kh.deli.domain.main.mapper.AccountMapper">

    <insert id="insertOwner" parameterType="kh.deli.global.entity.AccountDTO">
        INSERT INTO ACCOUNT(ACC_SEQ, ACC_EMAIL, ACC_PW, ACC_TYPE)
        VALUES (
        #{acc.acc_seq},
        #{acc.acc_email},
        #{acc.acc_pw},
        'business'
        )
    </insert>
    <!-- 멤버 로그인 -->
    <select id="login" resultType="int">
        SELECT COUNT(*) FROM ACCOUNT
        WHERE ACC_EMAIL = #{email} AND ACC_PW = #{pw} AND ACC_SNS = 'normal'
    </select>

    <!-- 멤버 회원가입(sns회원가입x) -->
    <insert id="memberSignUp" parameterType="kh.deli.global.entity.AccountDTO">
        INSERT INTO account VALUES(
        acc_seq.nextval,
        #{acc_email},
        #{acc_pw},
        'client',
        'normal',
        null,
        sysdate,
        'Y'
        )
    </insert>

</mapper>