<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kh.deli.domain.main.mapper.AccountMapper">

    <!-- 멤버 회원가입(sns회원가입x) -->
    <insert id="memberSignUp" parameterType="kh.deli.global.entity.AccountDTO">
        INSERT INTO account VALUES(
        acc_seq.nextval,
        #{acc_email},
        #{acc_pw},
        'client',
        'normal',
        null,
        sysdate,
        'Y'
        )
    </insert>


</mapper>