<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kh.deli.domain.admin.mapper.AdminAccountMapper">

        <select id="selectAccountList" resultType="AdminAccountDTO">
            select a.acc_seq, a.acc_email, m.mem_name, ad.add_detail1, a.acc_signupdate,
            m.mem_grade from account a left  join member m on a.acc_seq = m.acc_Seq
            left join address ad on a.acc_seq = ad.acc_seq
            where  acc_type = 'client' order by acc_signupdate desc
        </select>

</mapper>