<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kh.deli.domain.admin.mapper.AdminReviewMapper">

    <select id="selectAll" resultType="AdminReviewDTO">

        select
            rev_seq,
            rev_star,
            mem_name,
            rev_content,
            store_name,
            rev_writedate,
            rev_modifieddate
        from member,store,review
        where review.acc_seq=member.acc_seq
        and review.store_seq=store.store_seq
    </select>

    <delete id="deleteReview" parameterType="int">
        delete from review where rev_seq=${rev_seq}
    </delete>

    <update id="modifyReviewDisplay">
        update review set rev_display=#{rev_display} where rev_seq=${rev_seq}
    </update>

</mapper>