<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="kh.deli.domain.member.order.mapper.OrderOrdersMapper">

    <select id="storeInfo" resultType="StoreInfoDTO">
        select
            store_name,
            store_deli_time,
            orders.order_seq,
            order_date
        from store,orders
        where store.store_seq=orders.store_seq
        and order_seq=${order_seq}
    </select>

<select id=""></select>

    <select id="ordererInfo" resultType="OrdererInfoDTO">
        select
            mem_phone,
            order_store_req,
            order_rider_req,
            order_disposable,
            address.add_detail1 as address_add_detail1,
            orders.add_detail2 as orders_add_detail2
        from member,orders,address
        where orders.acc_seq=member.acc_seq
        and address.add_seq=orders.add_seq
        and order_seq=${order_seq}
    </select>

    <select id="payInfo" resultType="PayInfoDTO">
        select
            order_price,
            (pay_price*cp_discount/100) as discountByCoupon,
            order_point,
            delivery_tip,
            (order_price-(pay_price*cp_discount/100)-order_point+delivery_tip) as pay_price,
            pay_method
        from orders,coupon
        where orders.cp_seq=coupon.cp_seq
        and order_seq=${order_seq}
    </select>

</mapper>

