#store_detail * {
    box-sizing: border-box;
}

#store_detail .container {
    width: 360px;
    margin: auto;
    padding-top: 40px;
    min-height: 800px;
    padding-bottom: 20px;
}

#store_detail .header {
    overflow: hidden;
}

#store_detail .header > div {
    text-align: center;
    width: 95%;
    margin: auto;
}

#store_detail .header #storeName {
    line-height: 70px;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}

#store_detail .header #star {
    width: 95%;
    font-size: 15px;
}

#store_detail .header #reviewCount {
    width: 95%;
}

#store_detail .header #storeInfo {
    word-wrap: break-word;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
}

#store_detail .deliveryInfo {
    width: 95%;
}

#store_detail .deliveryInfo div {
    line-height: 27px;
    font-size: 15px;
}


#store_detail .fieldBox {
    width: 95%;
    margin: auto;
    overflow: hidden;
    font-size: 17px;
}

#store_detail .fieldBox div {
    float: left;
    width: 33.33%;
    height: 45px;
    line-height: 45px;
    margin-top: 5px;
    text-align: center;
}

#store_detail .fieldBox div a {
    text-decoration: none;
    color: black;
}

#store_detail .field {
    font-size: 17px;
    font-weight: bold;
    line-height: 27px;
    margin-bottom: 5px;
}

#store_detail .contents {
    font-size: 13px;
}

#store_detail .title {
    float: left;
    width: 35%;
    font-size: 14px;
}

#store_detail .detail_contents {
    font-size: 14px;
    width: 65%;
    display: inline-block;
    text-align: left;
}

#store_detail .img {
    /*width: 95px;*/
    /*height: 95px;*/
    border-radius: 10px;
    object-fit: cover;
    margin-right: 10px;
}

#store_detail .deliveryInfo {
    border-radius: 20px;
    width: 350px;
    height: 100px;
    padding: 10px 20px 20px 20px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    font-size: 14px;
    box-shadow: 0 5px 18px -7px rgba(0, 0, 0, 0.1);
}

#store_detail .category {
    width: 340.5px;
    position: relative;
    overflow: hidden;
    left: 10px;
    margin-top: 10px;
    word-wrap: normal;
}

#store_detail .category div {
    float: left;
    position: relative;
    border: 1px solid black;
    border-radius: 10px;
    padding: 2px 5px;
    margin-right: 7px;
}

#store_detail .bottom_menu_group {
    overflow: hidden;
}

#store_detail .menu {
    width: 65%;
    float: left;
}

#store_detail .menu_img {
    border-radius: 7px;
    width: 35%;
    float: left;
}

#store_detail .menu_img img {
    /*width: 100%;*/
    /*height: 113px;*/
    /*border-radius: 10px;*/
}

#store_detail #menu_intro {
    word-wrap: break-word;
}


/*#store_detail .filter_box {*/
/*    !*width: 350px;*!*/
/*    width: 95%;*/
/*    margin: 12px auto;*/

/*}*/

#store_detail .filter_box .filter {
    border-radius: 20px;
    border: rgba(232, 76, 79, 0.5) solid 1px;
    padding: 5px 15px 5px 15px;
    background-color: #FFFFFF;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

#store_detail .filter_box::-webkit-scrollbar {
    height: 5px;
}

#store_detail .filter_box::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 10px;
    width: 30% !important;
    background-color: rgba(232, 76, 79, 0.5);
}

#store_detail .filter_box::-webkit-scrollbar-track {
    background-color: #ffffff;
    border-radius: 10px;
    /*width: 0.5px;*/
    /*border-left: 3px solid transparent;*/
    /*border-right: 3px solid transparent;*/
    /*background-clip: content-box;*/
}

#store_detail .filter_box::-webkit-scrollbar {
    height: 5px;
}

#store_detail .filter_box::-webkit-scrollbar-corner {
    display: none;
}

#store_detail .filter_box::-webkit-scrollbar-button:start {
    opacity: 0;
}

#store_detail .filter_box::-webkit-scrollbar-button:end {
    opacity: 0;
}

#store_detail .filter_box {
    width: 95%;
    /*margin: 0 auto;*/
    /*min-width: 360px;*/
    /*max-width: 420px;*/
    height: 40px;
    /*background: #ffffff;*/
    border-radius: 10px 10px 0 0;
    text-align: center;
    /*overflow-x: scroll;*/
    overflow: hidden;
    margin-top: 10px;
}

#store_detail .menu {
    padding-right: 10px;
}

#store_detail .menu_intro {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /*word-break: break-word;*/
}

#store_detail .menu_box {
    width: 100%;
    line-height: 27px;
    border-radius: 20px;
    /*width: 350px;*/
    height: auto;
    padding: 10px 20px 10px 20px;
    /*margin-bottom: 10px;*/
    background-color: #FFFFFF;
    font-size: 12px;
    box-shadow: 0 5px 18px -7px rgba(0, 0, 0, 0.1);
    margin: auto;
    overflow: hidden;
}

#store_detail .fa-star {
    color: transparent;
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}

#store_detail .menu .yyyy {
    color: black;
    font-weight: normal;
    line-height: 35px;
}

#store_detail .menu_name {
    font-size: 14px;
    font-weight: bold;
}

/*div{border: 1px solid black;}*/
#store_detail .menu_info {
    margin-top: 5px;
    overflow: hidden
}

/*찜*/
store_detail button {
    border: 0;
}

#store_detail .heart {
    border: 0;
    background-color: unset;
    position: relative;
    /*left: 50%;*/
    top: 50%;
    transform: translate(-50%, -50%);
}

#store_detail .heartIcon {
    text-shadow: 0 0 0 rgba(217, 216, 214, 0.99);
    color: transparent;
}

#store_detail .heartIcon:hover {
    cursor: pointer;
}

#store_detail .menu_intro, #store_detail .menu_price{
    font-size: 13px;
}

/*div{*/
/*    border:1px solid black;*/
/*}*/