#storeReview * {
    box-sizing: border-box;
}

#storeReview .container {
    width: 360px;
    margin: auto;
    padding-top: 40px;
    min-height: 800px;
    padding-bottom: 20px;
}

#storeReview .header {
    overflow: hidden;
}

#storeReview .header > div {
    text-align: center;
    width: 95%;
    margin: auto;
}

#storeReview .header #storeName {
    line-height: 70px;
    font-size:19.55px;
    font-weight: bold;
    text-align: center;
}

#storeReview .header #star {
    width: 95%;
    font-size: 17px;
}

#storeReview .header #reviewCount {
    width: 95%;
}

#storeReview .header #storeInfo {
    word-wrap: break-word;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 17px;
}

#storeReview .deliveryInfo {
    width: 95%;
}


#storeReview .deliveryInfo div {
    line-height: 27px;
    font-size: 16px;
}

#storeReview .fieldBox {
    width: 95%;
    margin: auto;
    overflow: hidden;
    font-size: 17px;
}

#storeReview .fieldBox div {
    float: left;
    width: 33.33%;
    height: 45px;
    line-height: 45px;
    margin-top: 5px;
    text-align: center;
}

#storeReview .fieldBox div a {
    text-decoration: none;
    color: black;
}

#storeReview .field {
    font-size: 17px;
    font-weight: bold;
    line-height: 27px;
    margin-bottom: 5px;
}


#storeReview .contents {
    font-size: 13px;
}

#storeReview .title {
    float: left;
    width: 35%;
    font-size: 14px;
}

#storeReview .detail_contents {
    font-size: 14px;
    width: 65%;
    display: inline-block;
    text-align: left;
}








#storeReview #map {
    width: 95%;
}

#storeReview .store {
    line-height: 25px;
}

/*찜*/
#storeReview button {
    border: 0;
}

#storeReview.heart {
    border: 0;
    background-color: unset;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#storeReview .heartIcon {
    text-shadow: 0 0 0 rgba(217, 216, 214, 0.99);
    color: transparent;
}

#storeReview .heartIcon:hover {
    cursor: pointer;
}

.review_box {
    width: 100%;
    line-height: 27px;
    border-radius: 20px;
    height: auto;
    padding: 12px 20px 5px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    font-size: 13px;
    box-shadow: 0 5px 18px -7px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.review_header {
    margin-bottom: 7px;
}

.filter {
    border-radius: 20px;
    border: rgba(232, 76, 79, 0.5) solid 1px;
    padding: 1px 10px 1px 10px;
    background-color: #FFFFFF;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#nickname {
    float: left;
    width: 76%;
    font-size: 14px;
}

#writeDate {
    display: inline-block;
    font-size: 14px;

}

/*#storeReview .filter_box::-webkit-scrollbar {*/
/*    height: 5px;*/
/*}*/

/*#storeReview .filter_box::-webkit-scrollbar-thumb {*/
/*    background-color: #ddd;*/
/*    border-radius: 10px;*/
/*    width: 30% !important;*/
/*    background-color: rgba(232, 76, 79, 0.5);*/
/*}*/

/*#storeReview .filter_box::-webkit-scrollbar-track {*/
/*    background-color: #ffffff;*/
/*    border-radius: 10px;*/

/*    !*width: 0.5px;*!*/
/*    !*border-left: 3px solid transparent;*!*/
/*    !*border-right: 3px solid transparent;*!*/
/*    !*background-clip: content-box;*!*/
/*}*/

/*#storeReview .filter_box::-webkit-scrollbar {*/
/*    height: 4.5px;*/
/*}*/

/*#storeReview .filter_box::-webkit-scrollbar-corner {*/
/*    display: none;*/
/*}*/

/*#storeReview .filter_box::-webkit-scrollbar-button:start {*/
/*    opacity: 0;*/
/*}*/

/*#storeReview .filter_box::-webkit-scrollbar-button:end {*/
/*    opacity: 0;*/
/*}*/

img {
    width: 95%;
    height: 20%;
    margin-bottom: 7px;
}

#r_content {
    width: 95%;
    word-break: break-word;
}

#storeReview .fa-star {
    color: transparent;
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}

#storeReview .deliveryInfo {
    border-radius: 20px;
    width: 350px;
    height: 100px;
    padding: 10px 20px 20px 20px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    font-size: 13px;
    box-shadow: 0 5px 18px -7px rgba(0, 0, 0, 0.1);
}

#storeReview .fa-star {
    color: transparent;
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}

#storeName, #star {
    text-align: center;
}

.heartIcon {
    text-shadow: 0 0 0 rgba(217, 216, 214, 0.99);
    color: transparent;
}

.heartIcon:hover {
    cursor: pointer;
}


/*div{border: 1px solid black;}*/

