#storeReview * {
    box-sizing: border-box
}

#storeReview div {
    border: 1px solid black;
}

#storeReview .container {
    width: 375px;
    height: auto;
    margin: auto;
    overflow: hidden;
}

#storeReview .storeInfo {
    overflow: hidden
}

#storeReview .store {
    float: left;
}