#store_info * {
    box-sizing: border-box;

}

#store_info .container {
    width: 360px;
    margin: auto;
    padding-top: 40px;
}

#store_info .header {
    overflow: hidden;
}

#store_info .header > div {
    text-align: center;
    width: 95%;
    margin: auto;
}

#store_info .header #storeName {
    line-height: 70px;
}

#store_info .header #star {
    width: 95%;
}

#store_info .header #reviewCount {
    width: 95%;
}

#store_info .header #storeInfo {
    word-wrap: break-word;
    margin-top: 10px;
    margin-bottom: 10px;
}

#store_info .deliveryInfo {
    width: 95%;
}

#store_info .deliveryInfo {
    border: 3px solid black;
    border-radius: 10px;
}

#store_info .deliveryInfo div {
    line-height: 27px;
}

#store_info .fieldBox {
    width: 95%;
    margin: auto;
    overflow: hidden;
}

#store_info .fieldBox div {
    float: left;
    width: 33.33%;
    height: 45px;
    text-align: center;
    line-height: 45px;
    margin-top: 10px;
}

#store_info .fieldBox div a {
    text-decoration: none;
    color: black;
}

#store_info .field{font-size:18px; font-weight: bold; line-height: 27px; margin-bottom: 5px;}
#store_info .contents{font-size:14px; }

#store_info #map{width: 95%; border-radius: 7px;}

#store_info #info {
    font-weight: bold;
    font-size: 1.4em;
    float: left;
}

#store_info .store{
    line-height: 25px;
}

/*찜*/
#store_info button{border:0;}
#store_info.heart{
    border: 0;
    background-color: unset;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
#store_info .heartIcon{
    text-shadow: 0 0 0 rgba(217, 216, 214, 0.99);
    color: transparent;
}
#store_info .heartIcon:hover{
    cursor: pointer;
}
div{border: 1px solid black;}