#store_info * {
    box-sizing: border-box;
}

#store_info .container {
    width: 360px;
    margin: auto;
    padding-top: 40px;
    min-height: 800px;
    padding-bottom: 20px;
}

#store_info .header {
    overflow: hidden;
}

#store_info .header > div {
    text-align: center;
    width: 95%;
    margin: auto;
}

#store_info .header #storeName {
    line-height: 70px;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}

#store_info .header #star {
    width: 95%;
    font-size: 15px;
}

#store_info .header #reviewCount {
    width: 95%;
}

#store_info .header #storeInfo {
    word-wrap: break-word;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 13px;
}

#store_info .delivery {
    overflow: hidden;
}

#store_info .businessman {
    overflow: hidden;
}

#store_info .store {
    overflow: hidden;
}

#store_info #store_name,
#store_info #store_phone,
#store_info .time,
#store_info #holiday,
#store_info #min_price,
#store_info #tip,
#store_info #del_des,
#store_info #del_time,
#store_info #bs_name,
#store_info #bs_store_name,
#store_info #bs_store_des,
#store_info #bs_code {
    word-wrap: break-word;
}


#store_info .deliveryInfo {
    width: 95%;
}

#store_info .deliveryInfo div {
    line-height: 27px;
    font-size: 13px;
}

#store_info .fieldBox {
    width: 95%;
    margin: auto;
    overflow: hidden;
    font-size: 17px;
}

#store_info .fieldBox div {
    float: left;
    width: 33.33%;
    height: 45px;
    line-height: 45px;
    margin-top: 5px;
    text-align: center;
}

#store_info .fieldBox div a {
    text-decoration: none;
    color: black;
}

#store_info .field {
    font-size: 17px;
    font-weight: bold;
    line-height: 27px;
    margin-bottom: 5px;
}

#store_info .contents {
    font-size: 13px;
}

#store_info .title {
    float: left;
    width: 35%;
    font-size: 14px;
}

#store_info .detail_contents {
    font-size: 14px;
    width: 65%;
    display: inline-block;
    text-align: left;
}

#store_info #map {
    width: 95%;
    border-radius: 7px;
}
#store_info .store,
#store_info .delivery,
#store_info .businessman {
    line-height: 25px;
}

#store_info .businessman {
    padding-bottom: 15px;
}

/*찜*/
#store_info button {
    border: 0;
}

#store_info.heart {
    border: 0;
    background-color: unset;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#store_info .heartIcon {
    text-shadow: 0 0 0 rgba(217, 216, 214, 0.99);
    color: transparent;
}

#store_info .heartIcon:hover {
    cursor: pointer;
}

#store_info .time {
    text-align: left;
}


.box > div {
    float: left;
}

#store_info .store_box,
#store_info .delivery_box,
#store_info .businessman_box,
#store_info #map {
    width: 100%;
    line-height: 27px;
    border-radius: 20px;
    /*width: 350px;*/
    height: auto;
    padding: 10px 20px 20px 20px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    font-size: 13px;
    box-shadow: 0 5px 18px -7px rgba(0, 0, 0, 0.1);
    margin: auto;
}

#store_info .deliveryInfo {
    border-radius: 20px;
    width: 350px;
    height: 100px;
    padding: 10px 20px 20px 20px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    font-size: 14px;
    box-shadow: 0 5px 18px -7px rgba(0, 0, 0, 0.1);
}

#store_info .fa-star {
    color: transparent;
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}

#store_info #storeName, #store_info #star {
    text-align: center;
}


/*div{border: 1px solid black;}*/
