#storeReview * {
    box-sizing: border-box;
}

#storeReview .container {
    width: 360px;
    margin: auto;
    padding-top: 40px;
    min-height: 800px;
    padding-bottom: 20px;

}

#storeReview .header {
    overflow: hidden;
}

#storeReview .header > div {
    text-align: center;
    width: 95%;
    margin: auto;
}

#storeReview .header #storeName {
    line-height: 70px;
}

#storeReview .header #star {
    width: 95%;
}

#storeReview .header #reviewCount {
    width: 95%;
}

#storeReview .header #storeInfo {
    word-wrap: break-word;
    margin-top: 10px;
    margin-bottom: 10px;
}

#storeReview .deliveryInfo {
    width: 95%;
}


#storeReview .deliveryInfo div {
    line-height: 27px;
}

#storeReview .fieldBox {
    width: 95%;
    margin: auto;
    overflow: hidden;
}

#storeReview .fieldBox div {
    float: left;
    width: 33.33%;
    height: 45px;
    text-align: center;
    line-height: 45px;
    margin-top: 10px;
}

#storeReview .fieldBox div a {
    text-decoration: none;
    color: black;
}

#storeReview #map {
    width: 95%;
}

#storeReview #review {
    font-weight: bold;
    font-size: 1.3em;
    float: left;
}

#storeReview .store {
    line-height: 25px;
}

/*찜*/
#storeReview button {
    border: 0;
}

#storeReview.heart {
    border: 0;
    background-color: unset;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#storeReview .heartIcon {
    text-shadow: 0 0 0 rgba(217, 216, 214, 0.99);
    color: transparent;
}

#storeReview .heartIcon:hover {
    cursor: pointer;
}

#storeReview .review_box {
    width: 100%;
    line-height: 27px;
    border-radius: 20px;
    /*width: 350px;*/
    height: auto;
    padding: 10px 20px 20px 20px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    font-size: 13px;
    box-shadow: 0 5px 18px -7px rgba(0, 0, 0, 0.1);
    margin: auto;
}

#storeReview .review_header{
    margin-bottom:7px;
}

#storeReview .filter_box {
    /*width: 350px;*/
    width: 95%;
    margin: 12px auto;
}

#storeReview .filter {
    border-radius: 20px;
    border: rgba(232, 76, 79, 0.5) solid 1px;
    padding: 5px 15px 5px 15px;
    background-color: #FFFFFF;
    font-size: 13px;
    overflow: hidden;
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    width: 140px;
}

#storeReview #nickname {
    float: left;
    width: 76%;
}

#storeReview #writeDate {
    display: inline-block;
}

#storeReview .filter_box::-webkit-scrollbar {
    height: 5px;
}

#storeReview .filter_box::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 10px;
    width: 30% !important;
    background-color: rgba(232, 76, 79, 0.5);
}

#storeReview .filter_box::-webkit-scrollbar-track {
    background-color: #ffffff;
    border-radius: 10px;

    /*width: 0.5px;*/
    /*border-left: 3px solid transparent;*/
    /*border-right: 3px solid transparent;*/
    /*background-clip: content-box;*/
}
#storeReview .filter_box::-webkit-scrollbar {
    height: 4.5px;
}
#storeReview .filter_box::-webkit-scrollbar-corner {
    display: none;
}

#storeReview .filter_box::-webkit-scrollbar-button:start {
    opacity: 0;
}

#storeReview .filter_box::-webkit-scrollbar-button:end {
    opacity: 0;
}

#storeReview .filter_box {
    width: 95%;
    margin: 0 auto;
    /*min-width: 360px;*/
    /*max-width: 420px;*/
    height: 40px;
    /*background: #ffffff;*/
    border-radius: 10px 10px 0 0;
    text-align: center;
    overflow-x: scroll;
    margin-top: 10px;
}

#storeReview img{
    width: 95%;
    height: 20%;
    margin-bottom:7px;
}

#storeReview #r_content{
    width: 95%;
    word-wrap: break-word;
}

#storeReview .fa-star{
    color: transparent;
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}

.deliveryInfo {
    border-radius: 20px;
    width: 350px;
    height: 100px;
    padding: 10px 20px 20px 20px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    font-size: 13px;
    box-shadow: 0 5px 18px -7px rgba(0, 0, 0, 0.1);
}

.fa-star{
    color: transparent;
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}

#storeName{
    padding-left: 35px;
}
#storeName,#star{
    text-align: center;
}
.heart {
    /*border: 0;*/
    /*background-color: unset;*/
    /*position: relative;*/
    /*left: 50%;*/
    /*top: 50%;*/
    /*transform: translate(-50%, -50%);*/
}

.heartIcon {
    text-shadow: 0 0 0 rgba(217, 216, 214, 0.99);
    color: transparent;
}

.heartIcon:hover {
    cursor: pointer;
}


/*div{border: 1px solid black;}*/

