#storeDetail * {
    box-sizing: border-box;
}

#storeDetail .container {
    width: 360px;
    margin: auto;
    padding-top:40px ;
}

#storeDetail .header {
    overflow: hidden;
}

#storeDetail .header > div {
    text-align: center;
    width: 95%;
    margin: auto;
}

#storeDetail .header #storeName {
    line-height: 70px;
}

#storeDetail .header #star {
    width: 95%;
}

#storeDetail .header #reviewCount {
    width: 95%;
}

#storeDetail .header #storeInfo {
    word-wrap: break-word;
    margin-top: 10px;
    margin-bottom: 10px;
}

#storeDetail .deliveryInfo {
    width: 95%;
}

#storeDetail .deliveryInfo {
    border: 3px solid black;
    border-radius: 10px;
}

#storeDetail .deliveryInfo div {
    line-height: 27px;
}

#storeDetail .fieldBox {
    width: 95%;
    margin: auto;
    overflow: hidden;
}

#storeDetail .fieldBox div {
    float: left;
    width: 33.33%;
    height: 45px;
    text-align: center;
    line-height: 45px;
    margin-top: 10px;
}

#storeDetail .fieldBox div a {
    text-decoration: none;
    color: black;
}

#storeDetail .category {
    width: 340.5px;
    position: relative;
    overflow: hidden;
    left: 10px;
    margin-top: 10px;
    word-wrap: normal;
}

#storeDetail .category div {
    float: left;
    position: relative;
    border: 1px solid black;
    border-radius: 10px;
    padding: 2px 5px;
    margin-right: 7px;
}

#storeDetail #menu {
    font-weight: bold;
    font-size: 1.4em;
    float: left;
}

#storeDetail .bottom_menu_group {
    overflow: hidden;
}

#storeDetail .bottom_menu_group .menu {
    width: 70%;
    float: left;
}

#storeDetail .bottom_menu_group .menu_img {
    width: 30%;
    float: left;
}

#storeDetail .menu_img img {
    width: 100%;
    height: 100px;
}

#storeDetail #menu_intro{
    word-wrap: break-word;
}
/*div {*/
/*    border: 1px solid black;*/
/*}*/

/**/
#storeDetail button{border:0;}
#storeDetail.heart{
    border: 0;
    background-color: unset;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
#storeDetail .heartIcon{
    text-shadow: 0 0 0 rgba(217, 216, 214, 0.99);
    color: transparent;
}
#storeDetail .heartIcon:hover{
    cursor: pointer;
}